<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <!-- default header name is X-CSRF-TOKEN -->
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>드로우 제품 상세내역입니다!</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="shortcut icon"
	href="http://cdn.thehandsome.com/_ui/desktop/common/images/common/thehandsome_ic_16x16.ico" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/handsomeDraw/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/handsomeDraw/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/handsomeDraw/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/handsomeDraw/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/handsomeDraw/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyPortfolio - v4.7.0
  * Template URL: https://bootstrapmade.com/myportfolio-bootstrap-portfolio-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/font_80.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/common.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/layout.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/popup.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/jquery-ui.min.css" media="all" />

<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/brand.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/swiper.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/main_201903.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/footer.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/products.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/contents.css" media="all" />


<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<style type="text/css" media="print">
@IMPORT url("/_ui/desktop/common/blueprint/print.css");
</style>

<script type="text/javascript"
	src="/_ui/desktop/common/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/jquery.vticker.js"></script>

<script type="text/javascript"
	src="/_ui/desktop/common/js/handsome/common.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/handsome/html5shiv-printshiv.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/handsome/jquery.flexslider.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/handsome/ui.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/jquery.form-3.51.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/common_function.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/videojs-ie8.min.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/_ui/desktop/common/js/handsome/html5shiv.js"></script>
<script type="text/javascript" src="/_ui/desktop/common/js/handsome/respond.js"></script>
<![endif]-->

<script type="text/javascript"
	src="/_ui/desktop/common/js/jquery-ui-1.11.2.min.js"></script>

<script type="text/javascript"
	src="/_ui/desktop/common/js/instagramAPI.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/instagramAPI.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/handsome/jquery.bxslider.min.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/makePCookie.js"></script>

<script type="text/javascript"
	src="/_ui/shared/js/siteoverlay.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/wisenut/js/jquery.min.js"></script>

<script type="text/javascript"
	src="/_ui/desktop/common/js/swiper.min.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/netfunnel.js" charset="UTF-8"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/netfunnel_skin.js"
	charset="UTF-8"></script>

<script type="text/javascript"
	src="/_ui/desktop/common/js/unorm.js"></script>

<script type="text/javascript"
	src="/_ui/desktop/common/js/appboy.min.js"></script>
</head>
<style>

#bodywrap{
	font-family: "Malgun Gothic","맑은 고딕","Dotum","돋움", AppleGothic,sans-serif;
}

.p_a_box .point .txt {
    margin-top: 5px;
    color: #c69c6c;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    font-family: "Malgun Gothic","맑은 고딕","Dotum","돋움", AppleGothic,sans-serif;
}

.cnts_title {
    height: 89px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    font-weight: normal;
}

.cnts_title {
  font-family: "Malgun Gothic","맑은 고딕","Dotum","돋움", AppleGothic,sans-serif;
}

.ncss-btn-primary-dark {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 20px;
    background: #111;
    color: #fff;
}

.top-nav-wrap{
	border-bottom: 1px solid #e3e3e3;
}

.limit-max-width {
    width: 80%;
    max-width: 1920px;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #757575;   
    font-family: "Malgun Gothic","맑은 고딕","Dotum","돋움", AppleGothic,sans-serif;
    float: left;
}

.util-menu {
	margin: 0px auto;
	padding: 10px;
    color: #757575;
    font-family: "Malgun Gothic","맑은 고딕","Dotum","돋움", AppleGothic,sans-serif;
    float: left;
}

.readmore {
	font-weight:bold;
}

.col-md-8{
	flex: 0 0 auto;
	width: auto;
}
</style>
<script>
let arkQuery = $.noConflict(true);

let header = $("meta[name='_csrf_header']").attr('content');
let token = $("meta[name='_csrf']").attr('content');

function logout(){
	$('#logoutForm').submit();
}

function doWait(){
	layerAlert("매일 오전 10시에 오픈 됩니다!");
}

function doDraw(){
	const header = $("meta[name='_csrf_header']").attr('content');
	const token = $("meta[name='_csrf']").attr('content');
	
	let email = $('#email').attr('value');
	let psid = $('#psid').attr('value');
	let pcid = $('#pcid').attr('value');
	let pid = $('#pid').attr('value');
	let pmileage = $('#pmileage').attr('value');
	
	let drawDTO = {
			"email" : email,
			"psid" : psid,
			"pcid" : pcid,
			"pid" : pid,
			"pmileage" : pmileage
	}
	
	let json = JSON.stringify(drawDTO);
	
	if(email == 'anonymousUser') {
		let la = new layerAlert('로그인 정보가 없어<br>로그인 페이지로 이동합니다.');
		
		la.confirmAction = function () {
            location.href = '/customLogin';
        }
	}
	else {
		let lc = new layerConfirm('표시된 금액만큼 마일리지가 차감되며 <br> 미당첨시 마일리지는 반환되지 않습니다.<br> 정말 응모하시겠습니까?','응모하기','취소');
		
		lc.confirmAction = function(){
			$.ajax({
				type: 'POST',
				url : '/drawInsert',
				data : json,
				contentType : 'application/json; charset=utf-8',
				dataType : 'text',
				beforeSend: function(xhr){
	                xhr.setRequestHeader(header, token);
	            },
	            success: function(data){
	            	if(data == 'Draw Success')
	            		layerAlert('응모 완료되었습니다. 당첨자는 오전 11시 이후 순차적으로 메세지로 안내드립니다.');
	            	else if(data == 'Not Enough Mileage')
	            		layerAlert('마일리지가 부족합니다.');
	            	else if(data == 'Duplicate Application')
	            		layerAlert('이미 응모한 제품입니다.');
	            },
	            error: function(request, status, error){
	            	console.log("code:" + request.status + "\n" + "error:" + error);
	            	layerAlert('응모실패');	
	            }
			});	
		}
	}
}
</script>

<body id="bodywrap">
  <main id="main">
  	<header class="launch-header">
		<div class="top-nav-wrap">
		    <div class="limit-max-width">	    	
		    	<a href="/main">
				    <svg height="10px" width="12px" fill="#757575" viewBox="0 0 185.4 300">
						<path d="M160.4 300c-6.4 0-12.7-2.5-17.7-7.3L0 150 142.7 7.3c9.8-9.8 25.6-9.8 35.4 0 9.8 9.8 9.8 25.6 0 35.4L70.7 150 178 257.3c9.8 9.8 9.8 25.6 0 35.4-4.9 4.8-11.3 7.3-17.6 7.3z"></path>
					</svg>
				    <span>Visit Handsome.com</span>
			    </a>		  
		    </div>
			<div class="util-menu">
				<ul>
					<li sec:authorize="!isAuthenticated()" style="list-style:none;">
						<a href="/customLogin">로그인</a>
					</li>				
					<li sec:authorize="isAuthenticated()" style="float:left; list-style:none;">
						<a style="padding-right:30px;">안녕하세요 <span sec:authentication="principal.name"></span>님</a>
					</li>
					<li sec:authorize="isAuthenticated()" style="float:left; list-style:none;">
						<form action="/logout" method="POST" id="logoutForm">			
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						</form><a href="javascript:void(0);" onclick="logout()">로그아웃 <!-- 로그아웃 --></a>
					</li>
				</ul>
			</div>
		</div>
    </header>
    <section class="section">
      <div class="site-section pb-0">
        <div class="container">
                <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <a href="/draw/drawList">
              <img src="/handsomeDraw/assets/img/top-header-handsome-logo.png" width="395px"/>
            </a>            
          </div>
        </div>
          <div class="row align-items-stretch">
            <div class="col-md-8" data-aos="fade-up">
              <img th:src="${drawDetail.pmimg2}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <div class="sticky-content">
                <h3 th:text="'[' + ${drawDetail.bname} + ']'" class="h3" style="font-size:50px;"></h3>
                <p class="mb-4"><span th:text="${drawDetail.pname}" class="text-muted" style="font-size:15px;"></span></p>
                <p class="mb-4"><span th:text="${#numbers.formatInteger(drawDetail.pmileage, 3, 'COMMA')} + ' M'" class="text-muted" style="font-size:30px;"></span></p>

                <div class="mb-5">
                  <p>BEARBRICK은 '테디베어를 피규어로 만들고 싶다' 는 생각에서 탄생되어 테디베어에서 영감을 얻어 보다 심플하게 디자인 되었으며,
                  이름 또한 곰 (Bear) + 브릭 (Brick) 의 합성어입니다. 머리/몸통/엉덩이/양쪽 팔과 다리 총 7개의 부분으로 이루어져 있으며,
                  만세를 하거나 앉아 있는 등 다양한 포즈로 연출이 가능합니다.</p>

                </div>
                <p th:if="${drawDetail.openyn == 'N'}"></p>
                <p th:if="${drawDetail.openyn == 'Y'}" style="text-align:center;">오전 10:00 오픈 예정</p>
                
                <p th:if="${drawDetail.openyn == 'N'}" style="text-align:center;"><a th:text="'Draw ' + ${#numbers.formatInteger(drawDetail.pmileage, 3, 'COMMA')} + ' M'" href="#;" onclick="doDraw();" class="readmore"></a></p>
                <p th:if="${drawDetail.openyn == 'Y'}" style="text-align:center;"><a href="#;" class="readmore" onclick="doWait();">Coming Soon</a></p>
                <input type="hidden" id="deliveryOkMsg" value="확인"/>
                <input type="hidden" id="email" th:value="${#authentication.name}"/>
                <input type="hidden" id="psid" th:value="${drawDetail.psid}"/>
                <input type="hidden" id="pcid" th:value="${drawDetail.pcid}"/>
                <input type="hidden" id="pid" th:value="${drawDetail.pid}"/>
                <input type="hidden" id="pmileage" th:value="${drawDetail.pmileage}"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-1">&copy; Copyright MyPortfolio. All Rights Reserved</p>
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=MyPortfolio
          -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
        <div class="col-sm-6 social text-md-end">
          <a href="#"><span class="bi bi-twitter"></span></a>
          <a href="#"><span class="bi bi-facebook"></span></a>
          <a href="#"><span class="bi bi-instagram"></span></a>
          <a href="#"><span class="bi bi-linkedin"></span></a>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/handsomeDraw/assets/vendor/aos/aos.js"></script>
  <script src="/handsomeDraw/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/handsomeDraw/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/handsomeDraw/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/handsomeDraw/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/handsomeDraw/assets/js/main.js"></script>

</body>

</html>