<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />

<title>관리자페이지</title>

<!-- Custom fonts for this template -->
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
	rel="stylesheet" />
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">


<!-- Custom styles for this template -->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
</head>

<body id="page-top">
	<script type="text/javascript">
		const data = [];
		function deleteBoard(){
			const bid = $('#modalBid').text();
			
			const header = $("meta[name='_csrf_header']").attr('content');
	     	const token = $("meta[name='_csrf']").attr('content'); 
			
			$.ajax({
				 url : '/admin/deleteBoard',
		          data : JSON.stringify({
		        	  'bid' :bid
		          }),
		          type : 'POST',
		          dataType : 'text',
		          contentType : 'application/json',
		          beforeSend : function(xhr){
		               xhr.setRequestHeader(header, token);
		          },
		          success : function(data) {
		        	   console.log(data);
		        	   $('#successModalLabel').text('게시글을 삭제하였습니다.');
		        	   $('#successModal').modal();
		        	   $('#productModal').modal();
		        	   
		          },
		         error : function(request, status, error) {
		 			console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		 			$('#successModalLabel').text('게시글 삭제에 실패하였습니다.');
		        	$('#successModal').modal();
		         }
			})
		}
		
		function successModalClose(){
			location.reload();
		}
		
		function changeCarousel(idx){
			//console.log(idx);
			$('.carousel').hide();
			$('#carousel'+idx).show();
		}
	
		function modalBoard(idx) {
			console.log(idx);
			$('#modalBid').text($('#bid'+idx).text());
			
			let cont =$('#bcontent'+idx).val();
			
			cont = cont.replaceAll("&lt;", "<");
		      cont = cont.replaceAll("&gt;", ">");
			
			$('#modalBtitle').text($('#btitle'+idx).text());
			$('#modalBauthor').text('작성자 '+$('#bauthor'+idx).text());
			$('#modalBdate').text('등록일 '+$('#bdate'+idx).val());
			$('#modalHits').text('조회수 ' + $('#hits'+idx).text());
			$('#bcontent').empty();
			$('#bcontent').append(cont);
			
			$('#productModal').modal();

			
		}
		
		function deleteReply(){
			let data = [];
			$('input[name="deleteReplyCheck"]:checked').each(function(index,obj){
			    $(obj).attr('id');
			    data.push({
			    	'rno':$(obj).attr('id')
			    });
			});
			if(data.length == 0){
				$('#alertModalLabel').text('선택한 댓글이 없습니다.');
	        	$('#alertModal').modal();
				return;
			}
			
			const header = $("meta[name='_csrf_header']").attr('content');
	     	const token = $("meta[name='_csrf']").attr('content'); 
			
			$.ajax({
				 url : '/admin/deleteReply',
		          data : JSON.stringify(data),
		          type : 'POST',
		          dataType : 'text',
		          contentType : 'application/json',
		          beforeSend : function(xhr){
		               xhr.setRequestHeader(header, token);
		          },
		          success : function(data) {
		        	   console.log(data);
		        	   $('#successModalLabel').text('선택한 댓글을 삭제하였습니다.');
		        	   $('#successModal').modal();
		        	   
		          },
		         error : function(request, status, error) {
		 			console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
		 			$('#successModalLabel').text('게시글 삭제에 실패하였습니다.');
		        	$('#successModal').modal();
		         }
			})
			
		}
		
		function clickTitle(bid){
			const link = '/sommunity/view?bno='+bid;
			
			window.open(link);
		}

	</script>
	<style>
td input {
	border: none;
}
</style>

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul th:replace="admin/slider :: slider"></ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<nav th:replace="admin/topbar :: topbar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">댓글 관리</h1>

					<form class="user" action="/admin/reply" method="POST">
						<input id="csrf" type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}">
						<div class="form-group row">
							<div class="col-sm-1 col-form-label">
								<label>작성자 : </label>
							</div>
							<div class="col-sm-3">
								<input value="" name="rauthor" th:value="${selectedRauthor}" />
							</div>
							<div class="col-sm-1 col-form-label">
								<label>댓글내용 : </label>
							</div>
							<div class="col-sm-3">
								<input value="" name="rcontent" th:value="${selectedRcontent}"/>
							</div>
							<div>
								<button class="btn btn-primary" type="submit" value="검색">
									검색 <i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>

					</form>
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">댓글 리스트</h6>
                            <div>글 제목을 클릭하면 게시글을 볼 수 있습니다.</div>
                            <button type="button" onclick="deleteReply()" class="btn btn-primary">삭제</button>
                        </div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th style="width:1rem;"></th>
											<th style="width:3rem;">작성자</th>
											<th style="width:10rem;">글제목</th>
											<th>내용</th>
											<th style="width:4rem;">작성일자</th>
										</tr>
									</thead>

									<tbody>
										<tr class="reply" th:each="reply, status: ${replylist}" >
											<td><input type="checkbox" name="deleteReplyCheck" th:id="${reply.rno}"></td>
											<td><span th:id="'rauthor'+${status.index}" th:text="${reply.rauthor}"></span></td>
											<td th:onclick="'clickTitle('+${reply.bid}+')'"><span th:id="'btitle'+${status.index}" th:text="${reply.btitle}"></span></td>
											<td><span th:id="'rcontent'+${status.index}" th:text="${reply.rcontent}"></span></td>
											<td><input th:id="'rdate'+${status.index}" type="date" th:value="${reply.rdate}" readOnly/></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

				<!-- Success Modal-->
				<div class="modal fade" id="productModal" tabindex="-1"
					role="dialog" aria-labelledby="productModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="productModalLabel">상품정보</h5>
								<button class="close" id="productModalBtn" type="button"
									data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							<div class="modal-body">
								<div class="container">
									<div id="modalBid" style="display:none;"></div>
									<div class="row">
										<div class="col-md-6 offset-md-3"><h3 id="modalBtitle" style="text-align:center; font-weight:bold;">제목</h3></div>
									</div>
									<div class="row" style="background-color:#f5f5f5;">
										<span class="col" id="modalBauthor">작성자</span> 
										<span class="col" id="modalBdate">날짜</span> 
										<span class="col" id="modalHits" style="text-align:right;">조회수</span>
									</div>
									<div class="row" style="border-style:solid; margin-top:1rem; border-radius:0.5rem;">
										<div id="bcontent"></div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-secondary" type="button"
									data-dismiss="modal">닫기</button>
								<a class="btn btn-danger" href="javascript:void(0);" onclick="deleteBoard()">삭제하기</a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Success Modal-->
			    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
			        aria-hidden="true">
			        <div class="modal-dialog" role="document">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <h5 class="modal-title" id="successModalLabel">수량 모달</h5>
			                    <button class="close" id="successModalBtn" type="button" data-dismiss="modal" aria-label="Close" onclick="successModalClose();">
			                        <span aria-hidden="true">×</span>
			                    </button>
			                </div>
			        	</div>
			    	</div>
				</div>
				
				<!-- alert Modal-->
			    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
			        aria-hidden="true">
			        <div class="modal-dialog" role="document">
			            <div class="modal-content">
			                <div class="modal-header">
			                    <h5 class="modal-title" id="alertModalLabel">수량 모달</h5>
			                    <button class="close" id="alertModalBtn" type="button" data-dismiss="modal" aria-label="Close">
			                        <span aria-hidden="true">×</span>
			                    </button>
			                </div>
			        	</div>
			    	</div>
				</div>
			</div>
			<!-- End of Main Content -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
	<div th:replace="admin/chatHide :: chatHide"></div>
	<!-- Bootstrap core JavaScript-->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="js/demo/datatables-demo.js"></script>

</body>

</html>