<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="slider">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/index">
        <div class="sidebar-brand-icon rotate-n-0">
            <img src="/admin/img/handsomeadminlogo.png" style="width:12rem;"/>
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin/index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>전체 요약</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        채팅 및 관리
    </div>
    <!-- Nav Item - Charts -->
    <li class="nav-item">
    	<a class="nav-link" href="/admin/chat">
    		<i class="fas fa-fw fa-comments"></i>
    		<span>1:1 실시간 고객 문의</span>
    	</a>
    </li>
    <li class="nav-item">
    	<a class="nav-link" href="/admin/membertables">
    		<i class="fas fa-fw fa-users"></i>
    		<span>멤버 관리</span>
    	</a>
    </li>
    <li class="nav-item">
    	<a class="nav-link" href="/admin/producttables">
    		<i class="fas fa-fw fa-gift"></i>
    		<span>상품 관리</span>
    	</a>
    </li>
    <li class="nav-item">
    	<a class="nav-link" href="/admin/order">
    		<i class="fas fa-fw fa-truck"></i>
    		<span>주문 관리</span>
    	</a>
    </li>    
    <li class="nav-item">
    	<a class="nav-link" href="/admin/board">
    		<i class="fas fa-fw fa-clipboard-list"></i>
    		<span>게시글 관리</span>
    	</a>
    </li>
    <li class="nav-item">
    	<a class="nav-link" href="/admin/reply">
    		<i class="fas fa-fw fa-comment-dots"></i>
    		<span>댓글 관리</span>
    	</a>
    </li>    
    <li class="nav-item">
    	<a class="nav-link" href="/admin/drawProduct">
    		<i class="fas fa-fw fa-check"></i>
    		<span>드로우 상품 관리</span>
    	</a>
    </li>   
    <li class="nav-item">
    	<a class="nav-link" href="/admin/winDrawList">
    		<i class="fas fa-fw fa-check-double"></i>
    		<span>드로우 당첨자 관리</span>
    	</a>
    </li>     
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <div class="toast" style="position:absolute; top:10%; left:90%; z-index: 1">
	    <div class="toast-header">
	      알림이 왔습니다.
	    </div>
	    <div class="toast-body">
	      Some text inside the toast body
	    </div>
  </div>
	
<script type="text/javascript">
		//chatting start
		$(document).ready(function(){
			$("#chatInput").on("keydown",function(key){         
				if(key.keyCode==13) {           
					
					send();
					
				}     
			});
		});

		const url = window.location.host;
		const websocket = new WebSocket("ws://"+url+"/ws/chat"); 
		websocket.onmessage = onMessage;	//소켓이 메세지를 받을 때 
		websocket.onopen = onOpen;			//소켓이 생성될때 클라이언트 접속 
		websocket.onclose = onClose;		//소켓이 닫힐때(클라이언트 접속해제)
	
		//on exit chat room
		function onClose(evt){
			console.log("close event : " + evt);
		}
	
		//on entering chat room 
		function onOpen(evt){
			console.log("open event : " +evt);
		}
		
		function insertMessage(senderId, message){
			if(!message.includes('님이 접속했습니다.') && !message.includes('님이 퇴장했습니다.')){
				let html = '';
				if(senderId == 'master'){
					html += '<li class="d-flex flex-row-reverse"><div class="clientMsg card shadow border-left-primary" senderId="'+senderId+'" style="max-width: 80%;"> '+message +'</div> </li><br>';	
				}else{
					html += '<li class="d-flex flex-row"><div class="clientMsg card shadow border-left-success" senderId="'+senderId+'" style="max-width: 80%;" onclick="transkotoen(this)" beforeM="'+message+'" > '+message +' </div><div style="display:none;" onclick="returnKO(this)">되돌리기</div></li><br>';
				}
				
				$('.messageBox').append(html);	
			}
			
		}
		
	
		//on message controller
		function onMessage(msg){
			const data = JSON.parse(msg.data);	//msg를 받으면 data필드 안에 JSON String으로 정보가 있음 
			//필요한 정보를 json data에서 추출 
			const senderId = data.senderId;
			const message = data.message + ' '+data.time;
			const newOne = data.newOne;
			const outOne = data.outOne;
			
			console.log(data.onlineList + ', '+senderId+', '+message + ', '+newOne + ', '+outOne);
			
			//console.log('ddd');
			if($('#receiverId').text() == senderId || senderId == 'master'){
			
				insertMessage(senderId, message);	
			
			}else{
				console.log('dodo');
				const addData = {
		    			"message" : message,
		    			"senderId" : senderId
		    	}
				var value = JSON.parse(sessionStorage.getItem(senderId));
				console.log(value + ' value is');
				if(value == null){
					value =[];
				}
				
				value.push(addData);
				console.log(value);
				sessionStorage.setItem(senderId, JSON.stringify(value));
				if(!message.includes('님이 접속했습니다.') && !message.includes('님이 퇴장했습니다.')){
					$('.toast-body').text(senderId+'로 부터 채팅이 왔습니다.');
					$('.toast').toast({delay:1000});
					$('.toast').toast('show');	
				}
				
			}
			
			
			//$('#chatInput').val('');
			$('.messageBox').scrollTop($('.messageBox').height()*10);
			
			//현재 접속중인 유저들 정보 보여주기 위한 
			const onlineList = data.onlineList;
			const set = new Set(onlineList);
			$(".onlineList").empty();
			set.forEach(function(e){
				let html='';
				html += '<li onclick="activeToggle(this)" rid="'+e+'" ><div class="card border-left-primary"><div class="card-body">'+e+'</div></div></li>';
				$(".onlineList").append(html);
			})
			$('.card-body').attr('style','background-color:#fff;');
			$('.onlineList li').each(function(index, obj){
				console.log($('#receiverId').text() + ' :  '+index);
				console.log($(obj).attr('rid') +' : '+ index );
				if($('#receiverId').text() == $(obj).attr('rid')){
					$(obj).find('.card-body').attr('style','background-color:#D7CFCD;');		
				}
			});
			
			
		}
		
		function activeToggle(e){
			$('.card-body').attr('style','background-color:#fff;');
			$(e).find('.card-body').attr('style','background-color:#D7CFCD;');
			e = $(e).attr('rid');
			const receiverId = e;
			const preReceiverId = $('#receiverId').text();
			
			
			setChatHistory(preReceiverId);
			$('#receiverId').text(receiverId);
			$('.messageBox').empty();
			getChatHistory(receiverId);

			//$('#chatInput').val('');
			$('.messageBox').scrollTop($('.messageBox').height()*10);
		}
	
		//send a message
		function send(){
			const message = $('#chatInput').val();
			console.log(message);
			
			//don't send when content is empty
			//채팅 입력칸이 비어있지 않은 경우에만 정보를 json 형태로 전송 
			if(message != ""){
				let msg = {
						'receiverId' : $('#receiverId').text(),
						'message' : message 
				}
				
				if(message != null){
					websocket.send(JSON.stringify(msg));	//websocket handler로 전송(서버로 전송)
				}
				$('#chatInput').val('');
			}
		}
		
		// save chat history
		 function setChatHistory(name) {
		    var value = [];
		    $('.clientMsg').each(function(index, item){
		    	const message = $(item).text();
		    	const senderId = $(item).attr('senderId');
		    	data = {
		    			"message" : message,
		    			"senderId" : senderId
		    	}
		    	value.push(data);
		    });

		    sessionStorage.setItem(name, JSON.stringify(value));
		  };
		  
		  //insert pre chat history
		  function getChatHistory(name){
			  var data = JSON.parse(sessionStorage.getItem(name));
			  
			  if(data != null){
				  $(data).each(function(index, item){
					 const message = item.message;
					 const senderId = item.senderId;
					 
					 insertMessage(senderId, message);
				  });
			  }
		  }
		
		//chatting end
		
		//trans
		//trans
	function transkotoen(e){
		console.log($(e).text());
		const header = $("meta[name='_csrf_header']").attr('content');
	 	const token = $("meta[name='_csrf']").attr('content'); 

	 	const jsonData ={
				"beforeM" : $(e).text()
		}
	 	
		$.ajax({
			type : 'POST',
			url : "/trans/transchtoko",
			data : JSON.stringify(jsonData),
			contentType : 'application/json',
			dataType : 'json',
			beforeSend: function(xhr){
	               xhr.setRequestHeader(header, token);
	           },
			success : function(data) {
				const afterM = data.message.result.translatedText;
				$(e).text(afterM);
				const nextE = $(e).next();
				nextE.toggle();
			},
			error : function(e) {
				console.log(e);
				
			}
		});
	}
	//
	function returnKO(e){
		console.log('called returnKO');
		$(e).toggle();
		const beforeE = $(e).prev();
		console.log($(beforeE).attr('beforeM'));
		$(beforeE).text($(beforeE).attr('beforeM'));
		
	}

	</script>
</ul>
<!-- End of Sidebar -->
</html>