<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/headerstatic :: headerstatic"></head>

<header th:replace="fragments/header :: header"></header>
<body oncontextmenu='return false'>
<script>
var arkQuery = $.noConflict(true);
</script>
        <!-- bodyWrap -->
        <div id="bodyWrap">
            <!--title-->
            <h3 class="cnts_title">
                <span>주문완료</span>
            </h3>
            <!--//title-->
            <!--sub_container-->
            <div class="sub_container">
                <!--title wrap-->
                <div class="order_title ">
                <p class="title">주문이 완료되었습니다.</p>
				<p class="s_title" th:text="'주문번호 :' + ${complete[0].oid} + ' (주문일시 :' + ${complete[0].odate} +')'"></p>			
            </div>
                <!--//title wrap-->                
                <!--table wrap-->
                    <div class="tblwrap">
                        <table class="tbl_ltype ">
                            <caption>쇼핑백</caption>
                            <colgroup>
                                <col />
                                <col style="width:85px" />
                                <col style="width:105px" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">상품정보</th>
                                    <th scope="col">수량</th>
                                    <th scope="col">판매가</th>
                                </tr>
                            </thead>
                            <tbody>

                            <tr th:each="list, status : ${complete}" class="al_middle">
                                    <td class="frt">
                                        <!-- pt_list_all -->
                                        <div class="pt_list_all">
                                            <a href="">
	                                                <img th:src="${list.pcimg1}" alt="" />
	                                                        </a>
                                            <div class="tlt_wrap">
                                                <a href="" class="basket_tlt">
                                                    <span class="tlt" th:text="${list.bname}"></span>
                                                    <span class="sb_tlt" th:text="${list.pname}"></span>                                                            
                                                    </a>
                                                
                                                <p class="color_op" th:text="'color :' + ${list.pccolorcode} + ' / ' + 'size : ' + ${list.psize}"></p>
                                            </div>
                                        </div>
                                        <!-- //pt_list_all -->
                                    </td>
                                    <td th:text="${list.oicount}"></td>
                                    <td>
                                        <!-- price_wrap -->
                                        <div class="price_wrap">
                                            <span th:text="'₩' + ${#numbers.formatInteger(list.pcprice, 3, 'COMMA')}"></span>
                                        </div>
                                        <!-- //price_wrap -->
                                    </td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                    <!--//table wrap-->
                    <!--total wrap-->
                    <div class="total_wrap mb40">
                        <!-- total -->
                        <div class="total_price_wrap">
                            <dl>
                                <dt>상품 합계</dt>
                                <dd th:text="'₩' + ${#numbers.formatInteger(complete[0].oafterprice, 3, 'COMMA')}"></dd>
                                
                                <dt class="delch_wrap">
                                    <p class="tlt_ship">배송비</p>
                                    <!--delivery charge layer popup-->
                                    <div class="delch_box">
                                        <span class="arr">위치아이콘</span>
                                        <ul class="bul_sty01_li">
                                            <li>쿠폰/바우처 할인금액 및 한섬마일리지/H.Point 사용을 제외한 실 결제금액 기준 <strong>3만원 미만 결제 시 2,500원 배송비가 부과</strong> 됩니다.(3만원 이상 구매 시 무료배송)</li>
                                            <li>도서산간 지역은 배송비가 추가될 수 있습니다.</li>
                                        </ul>
                                    </div>
                                    <!--//delivery charge layer popup-->
                                </dt>
                                <dd>₩0</dd>
                                </dl>
                            <dl class="total">
                                <dt>합계</dt>
                                <dd th:text="'₩' + ${#numbers.formatInteger(complete[0].oafterprice, 3, 'COMMA')}"></dd>
                            </dl>
                        </div>
                        <!-- //total -->
                    </div>
                    <!--//total wrap-->
                <!--title wrap & table wrap1-->
                <div class="title_wrap clearfix">
                    <h4 class="float_left">결제수단</h4>
                </div>
                <div class="tblwrap mb40">
                    <table class="tbl_wtype1">
                        <caption>결제수단</caption>
                        <colgroup>
                            <col style="width:140px" />
                            <col />
                        </colgroup>
                        <tbody>
                        	<tr>
                                <th scope="row" class="th_space">카드사</th>
                                <td th:text="${complete[0].pmcompany}"></td>
                        	</tr>
                        	<tr>
                                <th scope="row" class="th_space">결제금액</th>
                                <td th:text="'₩' + ${#numbers.formatInteger(complete[0].oafterprice, 3, 'COMMA')}"></td>
                        	</tr>
                        </tbody>
                    </table>
                </div>
                <!--//title wrap & table wrap1-->
                <!--title wrap & table wrap2-->
                <div class="title_wrap clearfix">
                    <h4 class="float_left">한섬마일리지</h4>
                    <p class="reqd_txt float_right"></p>
                </div>
                <div class="tblwrap mb40">
                    <table class="tbl_wtype1">
                        <caption>한섬마일리지</caption>
                        <colgroup>
                            <col style="width:300px" />
                            <col />
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row" class="th_space">지급 예정 한섬마일리지</th>
                                <td th:text="${#numbers.formatInteger(complete[0].mileage, 3, 'COMMA')} + ' M'"></td>
                                <th scope="row" class="th_space">지급 예정 H.Point</th>
                                <td>0 P</td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <!--//title wrap & table wrap2-->
                <!--title wrap & table wrap3-->
                <div class="title_wrap clearfix">
                    <h4 class="float_left">주문자 정보</h4>
                </div>
                <div class="tblwrap mb40">
                    <table class="tbl_wtype1">
                        <caption>결제수단</caption>
                        <colgroup>
                            <col style="width:140px" />
                            <col />
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row" class="th_space">주문자</th>
                                <td th:text="${complete[0].name}"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="th_space">휴대폰</th>
                                <td th:text="${complete[0].phone}"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="th_space">E-MAIL</th>
                                <td th:text="${complete[0].email}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--//title wrap & table wrap3-->
                
                <!--title wrap & table wrap4-->
                <div class="title_wrap clearfix">
                    <h4 class="float_left">배송지 정보</h4>
                </div>
                <div class="tblwrap">
                    <table class="tbl_wtype1 ">    
                        <caption>배송지 정보</caption>
                        <colgroup>
                            <col style="width:140px" />
                            <col />
                        </colgroup>
                        <tbody>
                        	<tr>
                                <th scope="row" class="th_space">배송지 주소</th>
                                <td th:text="${complete[0].oaddress1}"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="th_space">수령인</th>
                                <td th:text="${complete[0].oreceiver}"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="th_space">휴대폰</th>
                                <td th:text="${complete[0].ophone}"></td>
                            </tr>
                            <tr>
                                <th scope="row" class="th_space">연락처</th>
                                <td></td>
                            </tr>
                    	</tbody>
                    </table>
                </div>
                <!--//title wrap & table wrap4-->              
            </div>
            <!--//sub_container-->
            <div class="btnwrap order">
            	<a href="/member/myorder"><input value="주문내역조회" class="btn wt" type="button"/></a>
            	<a href="/main"><input value="쇼핑계속하기" class="btn gray mr0" type="button"/></a>
            </div> 
        </div>
        <!-- //bodyWrap -->      	
</body>
</html>
