<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/headerstatic :: headerstatic"></head>

<header th:replace="fragments/header :: header"></header>
<script>
	const arkQuery = $.noConflict(true);

	$(document).ready(function(){
		
	    let length = $('.price_wrap_price').length;
	    let totalPrice = 0;
	    for(let i = 0 ; i < length; i++){
	        totalPrice += parseInt($('.price_wrap_price')[i].getAttribute('price'));	    
	    }
	    
	    console.log("@@@"+totalPrice);
	    
	    $('#subTotal').text('₩ '+totalPrice.toLocaleString('ko-KR'));
	    $('#deliveryCost').text('₩ 0');
	    $('#totalPrice').text('₩ '+totalPrice.toLocaleString('ko-KR'));
	    $('#total').text(totalPrice.toLocaleString('ko-KR'));	       
	});
</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
	// daum 주소 API
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    //document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    //document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('address').value = data.zonecode;
                document.getElementById("line1").value = addr+extraAddr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("line2").focus();
            }
        }).open();
    }
</script>
<body>
<div id="bodyWrap" style="padding-bottom: 0;">
	<h3 class="cnts_title">
        <span>배송 &amp; 결제정보 입력</span>
    </h3>
    <!--sub_container-->
        <div class="sub_container">
            <!--orderwrap-->
            <div class="orderwrap del_pay">
                <!--orderwrap left-->
                <div class="float_left">
                    <!--table wrap1-->
                    <div id="checkoutCartView" class="tblwrap">
                        <table class="tbl_ltype ">
                            <caption>배송&amp;결제정보 입력</caption>
                            <br></br>
                            <colgroup>
                                <col />
                                <col style="width: 66px" />
                                <col style="width: 158px" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">상품정보</th>
                                    <th scope="col">수량</th>
                                    <th scope="col">판매가</th>
                                </tr>
                            </thead>
                            <tbody>                                
                                <!-- 상품 정보 반복 시작 -->                                                             
                                <tr th:each="product, status : ${productList}" class="al_middle">
                                <input type="hidden" th:id="'psid'+${status.index}" th:value = "${product.psid}"/>
                                    <td class="frt">
                                        <!-- pt_list_all -->
                                        <div class="pt_list_all">
                                            <a href=""><img th:src="${product.pcimg1}" alt="" /></a>
                                            <div class="tlt_wrap">
                                                <a href="" class="basket_tlt">
                                                    <span class="tlt" th:text="${product.bname}"></span>
                                                    <span id="pname" class="sb_tlt" th:text="${product.pname}"></span>
                                                </a>
                                                <p class="color_op" th:text="'color : ' + ${product.pccolorcode} + ' / ' + 'size : ' + ${product.psize}"></p>
                                            </div>
                                        </div> <!-- //pt_list_all -->
                                    </td>
                                    <td th:id="'Oicount' + ${status.index}" th:text="${product.pquantity}"></td>
                                    <td>
                                        <!-- price_wrap -->
                                        <div class="price_wrap ">
                                            <span class="price_wrap_price" th:id="'Oitotalprice' + ${status.index}" th:price="${product.pcprice * product.pquantity}" 
                                            th:text = "'₩' + ${#numbers.formatInteger(product.pcprice * product.pquantity, 3, 'COMMA')}"></span>
                                        </div>
                                        <!-- //price_wrap -->
                                    </td>
                                </tr>
                                <!-- //상품 정보 반복 종료 -->
                            </tbody>
                        </table>
                        <script>
                        	var checktHandsomepointUsableAmount = parseInt('898000.0');
                        </script>
                    </div>
                    <!--//table wrap1-->

                    <p>먼저 준비된 상품부터 순차적으로 발송하므로, 부분 배송될 수 있습니다.</p>
                    <!--title_wrap & table wrap3-->
                    <div class="title_wrap clearfix mt40">
                        <h4 class="float_left">주문자 정보</h4>
                    </div>
                    <div class="tblwrap">
                        <table class="tbl_wtype1">
                            <caption>주문자 정보</caption>
                            <colgroup>
                                <col style="width: 140px" />
                                <col/>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row" class="th_space">주문자</th>
                                    <td id="name" th:text="${member.name}"></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="th_space">휴대폰</th>
                                    <td id="phone" th:text="${member.phone}"></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="th_space">E-mail</th>
                                    <td id="email" th:text="${member.email}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--//title_wrap & table wrap3-->
                    <!--title_wrap & table wrap4-->
                    <div class="title_wrap clearfix mt40" id="deliveryAddressDisplay">
                        <h4 class="float_left">배송지 정보</h4>
                        <p class="reqd_txt none">
                            <strong class="reqd">*</strong>표시는 필수항목입니다.
                        </p>
                    </div>
                    <div class="tblwrap" id="deliveryInfoTitle">
                        <table class="tbl_wtype1">
                            <caption>배송지 정보</caption>
                            <colgroup>
                                <col style="width: 140px" />
                                <col />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row" class="tooltip191022">
                                        <strong class="reqd">*</strong>
                                        <label for="adress">배송지 주소</label>
                                        <span class="ico_question">icon</span>
                                        <div class="delch_box190816">
                                            <span class="arr">위치아이콘</span>
                                            <ul class="bul_sty01_li">
                                                <li>기본배송지 변경은 <strong>마이페이지> [배송지관리]</strong>에서 가능합니다.
                                                </li>
                                                <li>기본배송지 설정 시 기본배송지가 최우선으로 노출 됩니다.</li>
                                            </ul>
                                        </div>
                                    </th>
                                    <td>
                                        <!-- address -->
                                        <input type="text" id="address" placeholder="우편번호"/>
                                        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="btn add_s"/>
                                        <div id="basis_bk_flag">
                                        	<input type="text" id="line1" placeholder="주소"  class="post_wall top"/>
                                        </div>
                                        <input type="text" id="line2" placeholder="상세주소" class="post_wall" maxlength="110"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><strong class="reqd">*</strong><label
                                            for="rcpt_name">수령인</label></th>
                                    <td><input value="" title="수령인" id="rcpt_name" name="lastName"
                                            maxlength="13" type="text" style="width: 118px;" /></td>
                                </tr>
                                <tr>
                                    <th scope="row"><strong class="reqd">*</strong><label for="hp">휴대폰
                                            번호</label></th>
                                    <td>
                                        <!-- hp --> <select id="hp" name="hp_num1" title="휴대폰 번호 앞자리"
                                            class="hp_num1">
                                            <option value="010">010</option>
                                            <option value="011">011</option>
                                            <option value="016">016</option>
                                            <option value="017">017</option>
                                            <option value="018">018</option>
                                            <option value="019">019</option>
                                        </select>
                                        <div class="form_hyphen">-</div> <input title="휴대폰 번호 가운데자리"
                                            name="hp_num2" id="hp_num2" class="hp_num2" type="text"
                                            maxlength="4" numberOnly="true" />
                                        <div class="form_hyphen">-</div> <input title="휴대폰 번호 뒷자리"
                                            name="hp_num3" id="hp_num3" class="hp_num2" type="text"
                                            maxlength="4" numberOnly="true" /> <!-- //hp -->
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="th_space"><label for="ph">연락처</label></th>
                                    <td>
                                        <!-- phone --> <select name="ph_num1" id="ph" title="연락처 앞자리"
                                            class="hp_num1">
                                            <option value="">선택</option>
                                            <option value="02">02</option>
                                            <option value="031">031</option>
                                            <option value="032">032</option>
                                            <option value="033">033</option>
                                            <option value="041">041</option>
                                            <option value="042">042</option>
                                            <option value="043">043</option>
                                            <option value="044">044</option>
                                            <option value="051">051</option>
                                            <option value="052">052</option>
                                            <option value="053">053</option>
                                            <option value="054">054</option>
                                            <option value="055">055</option>
                                            <option value="061">061</option>
                                            <option value="062">062</option>
                                            <option value="063">063</option>
                                            <option value="064">064</option>
                                        </select>
                                        <div class="form_hyphen">-</div> <input title="연락처 가운데자리"
                                            name="ph_num2" id="ph_num2" class="hp_num2" type="text"
                                            maxlength="4" numberOnly="true" />
                                        <div class="form_hyphen">-</div> <input title="연락처 뒷자리"
                                            name="ph_num3" id="ph_num3" class="hp_num2" type="text"
                                            maxlength="4" numberOnly="true" /> <!-- //phone -->
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="th_space"><label for="orderr">배송 메세지</label>
                                    </th>
                                    <td>
                                        <div class="input_sumtxt">
                                            <div class="input_sumtxt_box">
                                                <!-- input -->
                                                <input
                                                    onkeyup="chkword('orderr','orderr_text_length',20);"
                                                    id="orderr" name="deliveryRequestContents"
                                                    autocomplete="off" type="text" value=""
                                                    title="배송 메세지" maxlength="20" />
                                                <!-- //input -->
                                                <div class="delivery_comt">
                                                    <ul>
                                                        <li>
                                                            <a href="#;" data-readonly="readonly"
                                                                deliveryRequestMessage="배송 전 연락 바랍니다">
                                                                배송 전 연락 바랍니다</a>
                                                        </li>
                                                        <li>
                                                            <a href="#;" data-readonly="readonly"
                                                                deliveryRequestMessage="부재 시 문 앞에 놓아주세요">
                                                                부재 시 문 앞에 놓아주세요</a>
                                                        </li>
                                                        <li>
                                                            <a href="#;" data-readonly="readonly"
                                                                deliveryRequestMessage="부재 시 경비실에 맡겨주세요">
                                                                부재 시 경비실에 맡겨주세요</a>
                                                        </li>
                                                        <li>
                                                            <a href="#;" data-readonly="readonly"
                                                                deliveryRequestMessage="빠른 배송 부탁드립니다">
                                                                빠른 배송 부탁드립니다</a>
                                                        </li>
                                                        <li>
                                                            <a href="#;" data-readonly="readonly"
                                                                deliveryRequestMessage="부재 시 핸드폰으로 연락바랍니다">
                                                                부재 시 핸드폰으로 연락바랍니다</a>
                                                        </li>
                                                        <li>
                                                            <a href="#;" data-readonly="write"
                                                                deliveryRequestMessage="직접입력">
                                                                직접입력</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <span id="orderr_text_length">0</span> <span>/20자</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="th_space"><label for="mail">수령인 E-mail</label></th>
                                    <td>
                                        <!-- email --> <input type="text" id="mail" name="mail"
                                            title="이메일 아이디" class="em_form" /> <span
                                            class="andmail">@</span>
                                        <select title="이메일 계정"
                                            id="emailDelySel" class="em_select">  
                                            <option value="naver.com">naver.com</option>
                                            <option value="gmail.com">gmail.com</option>
                                            <option value="daum.net">daum.net</option>
                                            <option value="nate.com">nate.com</option>
                                            <option value="hanmail.net">hanmail.net</option>
                                            <option value="yahoo.com">yahoo.com</option>
                                            <option value="dreamwiz.com">dreamwiz.com</option>
                                        </select> <!-- //email -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="bul_sty01_li">
                            <li>선택사항을 미입력하더라도 불이익은 발생하지 않습니다.</li>
                        </ul>
                    </div>
                    <!--//title_wrap & table wrap4-->
                    
                    <!--//title_wrap & table wrap2-->
                    <!--title_wrap & table wrap5-->
                    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>                    
                    <div class="title_wrap clearfix mt40">
                        <h4 class="float_left">결제 수단 선택</h4>
                    </div>
                    <div class="tblwrap">
                        <table class="tbl_wtype1">
                            <caption>결제 수단 선택</caption>
                            <colgroup>
                                <col style="width: 140px" />
                                <col />
                            </colgroup>
                            <tbody>                             
                                <tr>
                                    <th scope="row" class="th_space">결제수단 선택</th>
                                    <td>
                                        <div class="rd_wrap payment_way1907">
                                        	<ul>
	                                        	<!-- #2610 [주문] 가상계좌 결제수단 제외 및 중복 구매 제한 처리 요청 건 (가상계좌 선택 삭제) 51013 -->
	                                            <span id="kakaoPay">
	                                            	<li>
														<input type="radio" name="mode" id="sel_rd5" value="PM01" onclick=""> 
		                                                <label for="sel_rd5" class="mr20">카카오 페이</label><br>
		                                            </li>
	                                            </span>
	                                            <span id="payCo">
	                                            	<li>
														<input type="radio" name="mode" id="sel_rd5" value="PM02" onclick=""> 
		                                                <label for="sel_rd5" class="mr20">페이코</label><br>
		                                            </li>
	                                            </span>                                                   
                                        	</ul>                                                                                          
                                        </div> <!-- ckout_wrap -->  
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--//title_wrap & table wrap5-->
                </div>
                <!--//orderwrap left-->
                <!--orderwrap right-->
                <div class="float_right" style="position: absolute; left: 680px; ">
                    <!--final payment sum box-->
                    <div class="sum_box">
                        <div>
                            <p class="tlt">최종 결제 금액</p>
                            <hr />
                            <dl class="clearfix">
                                <dt>상품 합계</dt>
                                <dd id="subTotal"></dd>
                                <dt>배송비</dt>
                                <dd id="deliveryCost"></dd>
                            </dl>
                        </div>
                        <div class="total">
                            <dl class="clearfix">
                                <dt>합계</dt>
                                <dd id="totalPrice"></dd>
                            </dl>
                        </div>
                        <input type="hidden" name="total" id="total" />
                        <input type="hidden" name="cartDeliveryCost" id="cartDeliveryCost" value="" />
                    </div>
                    <!--//final payment sum box-->
                    <!--point & agreement box-->
                    <div class="p_a_box">
                        <div class="agree">
                            <input type="checkbox" id="agree" /><label for="agree" class="tlt"> 구매자
                                동의</label>
                            <p class="txt">
                                주문할 상품의 상품명, 가격, 배송정보 등<br />
                                판매조건을 확인하였으며, 구매진행에 동의합니다.<br />
                                (전자상거래법 제8조 2항)<br /><br />
                                기존 마이너스 한섬마일리지를 보유하고 있는 고객은
                                한섬마일리지가 차감되어 적립되는 것에 동의합니다.
                                적립 예정 한섬마일리지가 상이할 수 있습니다.

                            </p>
                        </div>
                    </div>
                    <!--//point & agreement box-->
                    <span id="doOrderBtn">                     
                     		<a href="#;" id="payment" class="btn gray" onclick="doOrder();">결제하기</a>                     		                        
                    </span>
                </div>
                <script>    
             // 결제하기 버튼 script
            	function doOrder() {
            		const length = $('.al_middle').length;
            		const header = $("meta[name='_csrf_header']").attr('content');
            		const token = $("meta[name='_csrf']").attr('content');
                    let psid = '';
                    let Oicount = '';
                    let Oitotalprice = '';
                    
                    let OrderItemList = [];
                    for(let i = 0 ; i<length;i++){
                        psid = $('#psid'+i).val();
                        Oicount = $('#Oicount'+i).text();
                        Oitotalprice = $('#Oitotalprice'+i).attr('price');
                        let OrderItemVO = {
                            'psid' : psid,
                            'oicount' : Oicount,
                            'oitotalprice' : Oitotalprice
                        }
                        OrderItemList.push(OrderItemVO);
                    }
                    
                    let Oaddress1 = $('#address').val() + ' ' + $('#line1').val();
                    let Oaddress2 = $('#line2').val();
                    let Oreceiver = $('#rcpt_name').val();
                    let Ophone = $('#hp').val() + $('#hp_num2').val() + $('#hp_num3').val();
                    let Otel = $('#ph').val() + $('#ph_num2').val() + $('#ph_num3').val();
                    let Omemo = $('#orderr').val();
                    let Oemail = $('#mail').val() + '@' + $('#emailDelySel').val();
                    let Obefroeprice = $('#total').text().replace(/,/gi,'');
                    let Oafterprice = $('#total').text().replace(/,/gi,'');
                    let Ostatus = '주문완료';
                    let email = $('#email').text();
                    let Pmcode = $('input[name="mode"]:checked').val();                   
            		
            		if(Oaddress1 == '' || Oaddress2 == ''){
            	    	layerAlert('배송지 주소 우편 번호를 입력해주세요.');	    	
            	        return;
            	    }
            	    if(Oreceiver == ''){
            	        layerAlert('수령인을 입력해 주세요.');
            	        return;
            	    }
            	    if($('#hp_num2').val() == ''){
            	        layerAlert('배송지 주소 휴대폰 번호를 적어주세요.');
            	        return;
            	    }
            	    if($('#hp_num3').val() == '' ){
            	        layerAlert('배송지 주소 휴대폰 번호를 적어주세요.');
            	        return;
            	    }
            	    if(Pmcode == undefined){
            	        layerAlert('결제수단을 선택해주세요 ');
            	        return;
            	    }
            	    if(!$('#agree').is(':checked')){
            	    	layerAlert('구매자 동의 항목을 체크하여 주세요.');
            	        return;
            	    }  
            	    
            	    if($('#mail').val() == '')
            	    	Oemail = ''; 
            	    
                    let orderDTO = {
                            'oaddress1' : Oaddress1,
                            'oaddress2' : Oaddress2,
                            'oreceiver' : Oreceiver,
                            'ophone' : Ophone,
                            'otel' : Otel,
                            'omemo' : Omemo,
                            'oemail' : Oemail,
                            'obefroeprice' : Obefroeprice,
                            'oafterprice' : Oafterprice,
                            'ostatus' : Ostatus,
                            'email' : email,                
                            'pmcode' : Pmcode,
                            'orderItemList' : OrderItemList
                     }
                    
                    let json = JSON.stringify(orderDTO);
                    console.log(json);
            	    
            	    // 카카오 결제 API에 전달할 값
            	    let pname = $('#pname').text();
            	    let name = $('#name').text();
            	    let phone = $('#phone').text();
            	    let totalPrice = 0;	    
            	    for(let i = 0 ; i < length; i++){
            	        totalPrice += parseInt($('.price_wrap_price')[i].getAttribute('price'));	    
            	    }	 
            	        
            		//카카오 결제 API
            		const IMP = window.IMP; // 생략가능
            		IMP.init('imp93401382');  // 가맹점 식별코드		
            		IMP.request_pay({
            		    pg : 'kakaopay', //pg사 선택 (kakao, kakaopay 둘다 가능)
            		    pay_method: 'card',
            		    merchant_uid : 'merchant_' + new Date().getTime(), //주문번호
            		    name : pname, // 상품명
            		    amount : totalPrice, // 가격
            		    //customer_uid 파라메터가 있어야 빌링키 발급을 시도함
            		    customer_uid : email + new Date().getTime(),
            		    buyer_email : email,
            		    buyer_name : name,
            		    buyer_tel : phone,
            		    buyer_addr : Oaddress1 + Oaddress2,
            		}, function(rsp) { //callback
            		    if ( rsp.success ) {
            		      console.log('빌링키 발급 성공', rsp)
            		      //빌링키 발급이 완료되었으므로, 서버에 결제 요청
            		      alert('예약 결제가 완료되었습니다!');
            		      
	              		    $.ajax({
	            	            type : 'POST',
	            	              url : '/order/insertOrder',
	            	              data : json,
	            	              contentType: 'application/json; charset=utf-8',
	            	              dataType: 'text',
	            	              beforeSend: function(xhr){
	            	                  xhr.setRequestHeader(header, token);
	            	              },
	            	              success: function(data){
	            	                layerAlert('주문에 성공했습니다. ');
	            	                console.log(data.oid);
	            	                location.href="/order/orderComplete";
	            	                
	            	              },
	            	              error: function(request, status, error){
	            	                layerAlert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	            	                layerAlert('주문에 실패했습니다.');
	            	              }
	            	        });
            		    } else {
            		      let msg = '결제에 실패하였습니다.\n';
            		      msg += rsp.error_msg;
            		      layerAlert(msg);
            		      return false;
            		    }            	
            			}
            	);
             }
                </script>
                <!--//orderwrap right-->
            </div>
            <!--//orderwrap-->
        </div>
        <!--//sub_container-->
</div>
</body>
</html>