<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>한섬 커뮤니티 Sommunity</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/sommunity/assets/css/main.css" />
    <link rel="stylesheet" href="/sommunity/assets/css/_style_webzine.css" />
    <link rel="stylesheet" href="sommunity/assets/css/board.css" />
    <link rel="stylesheet" href="/sommunity/assets/css/_sytle_list.css" />
    <link rel="stylesheet" href="/sommunity/assets/css/css3.css" />
    <link rel="stylesheet" href="/sommunity/assets/css/responsive-grid.css" />
    <link rel="stylesheet" href="/sommunity/assets/css/view_document.css" />
    <link rel="stylesheet" href="/sommunity/assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="/sommunity/assets/css/button.css" />
    <link rel="stylesheet" href="/sommunity/assets/css/themify-icons.css" />
    <noscript>
        <link rel="stylesheet" href="/sommunity/assets/css/noscript.css" />
    </noscript>
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="/sommunity/home" class="logo"> <span class="symbol"><img src="images/sommunity.png"
                            style="margin: 0 auto;" alt="" /></span><span class="title"></span>
                </a>

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="/sommunity/home">Home</a></li>
                <li><a href="generic.html">Ipsum veroeros</a></li>
                <li><a href="generic.html">Tempus etiam</a></li>
                <li><a href="generic.html">Consequat dolor</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </nav>