<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<title>한섬 커뮤니티 Sommunity</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<link rel="shortcut icon"
	href="http://cdn.thehandsome.com/_ui/desktop/common/images/common/thehandsome_ic_16x16.ico" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/font_80.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/common.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/layout.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/popup.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/jquery-ui.min.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/brand.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/swiper.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/main_201903.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/footer.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/products.css" media="all" />
<link rel="stylesheet" type="text/css"
	href="/_ui/desktop/common/css/contents.css" media="all" />
<style type="text/css" media="print">
@IMPORT url("/_ui/desktop/common/blueprint/print.css");
</style>

<script type="text/javascript"
	src="/_ui/desktop/common/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/jquery.vticker.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/handsome/common.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/handsome/html5shiv-printshiv.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/handsome/jquery.flexslider.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/handsome/ui.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/jquery.form-3.51.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/common_function.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/videojs-ie8.min.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/jquery-ui-1.11.2.min.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/instagramAPI.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/instagramAPI.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/handsome/jquery.bxslider.min.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/makePCookie.js"></script>
<script type="text/javascript" src="/_ui/shared/js/siteoverlay.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/wisenut/js/jquery.min.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/swiper.min.js"></script>
<script type="text/javascript" src="/_ui/desktop/common/js/netfunnel.js"
	charset="UTF-8"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/netfunnel_skin.js" charset="UTF-8"></script>
<script type="text/javascript" src="/_ui/desktop/common/js/unorm.js"></script>
<script type="text/javascript"
	src="/_ui/desktop/common/js/appboy.min.js"></script>
<script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/sommunity/assets/css/_style_webzine.css" />
<link rel="stylesheet" href="/sommunity/assets/css/_style_webzine2.css" />
<link rel="stylesheet" href="/sommunity/assets/css/_style_gallery.css" />
<link rel="stylesheet" href="/sommunity/assets/css/board.css" />
<link rel="stylesheet" href="/sommunity/assets/css/_style_list.css" />
<link rel="stylesheet" href="/sommunity/assets/css/css3.css" />
<link rel="stylesheet" href="/sommunity/assets/css/dark.css" />
<link rel="stylesheet" href="/sommunity/assets/css/view_document.css" />
<link rel="stylesheet"
	href="/sommunity/assets/css/fontawesome-all.min.css" />
<link rel="stylesheet" href="/sommunity/assets/css/main.css" />
<link rel="stylesheet" href="/sommunity/assets/css/button.css" />
<link rel="stylesheet" href="/sommunity/assets/css/responsive-grid.css" />
<link rel="stylesheet" href="/sommunity/assets/css/themify-icons.css" />
<link rel="stylesheet" href="/sommunity/assets/css/view_document.css" />
<link rel="stylesheet" href="/sommunity/assets/css/write_form.css" />
<link rel="stylesheet" href="/sommunity/assets/css/editor.css" />
<noscript>
	<link rel="stylesheet" href="/sommunity/assets/css/noscript.css" />
</noscript>
</head>
<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->
		<!-- Header -->
		<header th:replace="sommunity/header :: header"></header>

		<!-- Menu -->
		<nav th:replace="sommunity/menu :: menu"></nav>

		<!-- Main -->
		<div class="main">
			<div class="inner">
				<div class="xet_container">
					<div class="xet_content">
						<script>
							var default_style = 'list';
							var doc_img = 'Y';
						</script>

						<div id="xet-boardWrp" class="light">
							<div class="xet-boardView">
								<div class="xet-boardReadWrp">
									<div class="boardReadHeader">
										<div class="boardReadSubject text-center">
											<a class="subject" style="text-decoration: none;" th:text="${boardDTO.btitle}"></a>
										</div>

										<div class="boardReadInfo xet-clearfix">
											<div class="userWrp">
												<strong>
													<span> <span th:text="'작성자: ' + ${boardDTO.bauthor}"></span>
													</span> <span th:text="'등록일: ' + ${boardDTO.bdate}"> <strong>2022.07.04 11:14:49</strong></span>
												</strong>
											</div>
											<div class="countWrp">
												<strong><span alt="조회수" th:text = "'조회수 : ' + ${boardDTO.bhits}"></span></strong>
											</div>
										</div>
									</div>

									<div class="boardReadBody">
										<!--BeforeDocument(3700,0)-->
										<div id="content" class="document_3700_0 xe_content" style="text-align: left;">
										</div>
										<!--AfterDocument(3700,0)-->
										<script  th:inline="javascript">
												/*<![CDATA[*/
												const html = [[${boardDTO.bcontent}]];
												const bno = [[${boardDTO.bid}]]
												
												/*]]>*/
												/* 띄어 쓰기 문자 변환*/
												let content = html.replace(/amp;/gi, "")
												console.log(content);
												$('.document_3700_0').append(content);
												
											</script>

										<div class="document_popup_menu">
											<a href="#popup_menu_area" class="document_3700" onclick="return false"></a>
										</div>

										<div class="btn_wrp xet-clearfix">
											<div class="float-right">



												<a href="//facebook.com/"
													class="facebook tooltip xet_btn medium white"><i
														class="xi-facebook"></i></a> <a href="//twitter.com/"
													class="twitter xet_btn medium white"> <i class="xi-twitter"></i></a>

											

											</div>
										</div>
									</div>

									<div class="boardReadFooter">
										<!-- // 태그 리스트 출력 // -->
										<!-- // 트랙백주소 출력 // -->

										<!-- // 첨부 파일 출력 // -->
									</div>

									<div class="boardBtnWrp xet-clearfix mg-t20">
										<div class="float-left">
											<a th:href="'/sommunity/board?bname=' + ${boardDTO.brand}"
												class="xet_btn medium gray">목록</a>
										</div>
										<div th:if="${#authentication.name.equals(boardDTO.bauthor)}" class="float-right">
											<!-- 게시글 작성자일 경우 -->
											<a id="likesBtn" href="javascript:;" th:onclick="'preventLikes();return false;'" class="xet_btn medium blue"><strong>좋아요 <span id="likesCnt" th:text="${boardDTO.blikes}"></span></strong></a>
											<a href=" " class="xet_btn medium white">수정</a> 
												<a href="javascript:;" th:onclick="'delConfirm('+${boardDTO.bid}+');return false;'" class="xet_btn medium red">삭제</a>
										</div>
										<div th:unless="${#authentication.name.equals(boardDTO.bauthor)}" class="float-right">
											<!-- 게시글 작성자가 아닐 경우 -->
											<a id="likesBtn" href="javascript:;" th:onclick="'incLikes();return false;'" class="xet_btn medium blue"><strong>좋아요 <span id="likesCnt" th:text="${boardDTO.blikes}"></span></strong></a>
										</div>
										<script>
										
										function preventLikes() {
											layerAlert("자신이 작성한 글에는 <br>좋아요를 누를 수 없습니다.")
											return
										}
										
										function getLikesCount() {
											$.ajax({
												url: '/getLikesCount?bid='+bno,
									            type: 'POST',
									            async : false,
									            beforeSend: function (xhr) {
									                xhr.setRequestHeader(header, token);
									            },
									            success: function (data) {
													console.log("좋아요 개수 : " + data);
													$('#likesCnt').text(data);
												},
												error: function () {
													console.log("좋아요 개수 조회 실패");
												}
											  
											});
										}
										
										
										function incLikes() {
											$.ajax({
												url: '/incLikes',
												data: JSON.stringify(
													{
														bid : $('#bid').val(),
														reader : $('#user').val()
													}		
												),
									            type: 'POST',
									            async : false,
									            dataType: 'JSON',
									            contentType: 'application/json',
									            beforeSend: function (xhr) {
									                xhr.setRequestHeader(header, token);
									            },
									            success: function () {
													console.log("좋아요 증가 성공");
													getLikesCount();
												},
												error: function () {
													console.log("이미 좋아요를 누른 게시글이다.");
													layerAlert("이미 추천한 게시글입니다.")
												}
											  
											});
											
										}
										
										
										function delBoard(bid) {
											$.ajax({
									            url: '/delBoard?bid='+bid,
									            type: 'POST',
									            async : false,
									            contentType: 'application/json',
									            beforeSend: function (xhr) {
									                xhr.setRequestHeader(header, token);
									            },
									            success: function () {
									            	console.log("게시글 삭제 성공");
									            },
									            error: function () {
									                console.log("게시글 삭제 실패");
									            }
									        });
											location.href="/sommunity/home";
										}
										
										function delConfirm(bid) {
											let lc = new layerConfirm('글을 삭제하시겠습니까?', '예', '취소')
											lc.confirmAction = function () {
												delBoard(bid);
	                                        }
										}
										
										
										</script>
									</div>
								</div>

								<div class="feedbackList" id="comment">
									<div class="feedbackHeader comment-icon" style="color : #444;">
										<strong>
											댓글 <span id = "replyCnt"><em>0개</em></span>
											</div> <!-- // 댓글 목록 -->
										</strong>
									<div class="replyList" id= "replyList">
										
									</div>
									<!-- // 댓글 페이지표시 -->
								</div>
								<div class="boardModal-form" id="boardModal-comment-del">
									<div class="boardModal-header">삭제하시겠습니까?</div>
									<div class="boardModal-body">

										<form action="./" method="get"
											onsubmit="return procFilter(this, delete_comment)">
											<input type="hidden" id="deliveryOkMsg" value="확인"/>
											<!-- 필요한 input 모음 -->
											<input type="hidden" name="user" id="user" th:value="${#authentication.name}">
											
											<input type="hidden" name="error_return_url"
												value="/simple_board_test/3700"><input type="hidden" name="act"
												value=""><input type="hidden" name="vid" value=""> <input type="hidden"
												name="mid" value="simple_board_test"> <input type="hidden" name="page"
												value="1"> <input type="hidden" name="document_srl" value="3700"> <input
												type="hidden" name="comment_srl" value=""> <a href="javascript:;"
												class="boardModal-form-close xet_btn medium">취소</a>
											<button type="submit" class="xet_btn medium">삭제</button>
										</form>
									</div>
								</div>
								<div id="comment-form">
									<form action="./" method="post" onsubmit="return procFilter(this, insert_comment)" class="boardWrite cmtWrite" editor_sequence="2">
										<input type="hidden" name="error_return_url" value="/simple_board_test/3700">
										<input type="hidden" name="act" value=""><input type="hidden" name="vid" value=""> 
										<input type="hidden" name="mid" value="simple_board_test"> 
										<input type="hidden" name="document_srl" value="3700"> 
										<input type="hidden" name="comment_srl" value="0"> 
										<input type="hidden" name="content" value="">
										<div class="boardEditor r6">
											<div class="editorOption">
												
												<div class="write_type xet_clearfix">
													<div class="input_form">
														<input type="hidden" id="bid" th:value="${boardDTO.bid}"></input>
														<textarea name="breply" id="breply"  class="inputText" placeholder="댓글을 입력해주세요."></textarea>
													</div>
												</div>
											</div>
											<div class="text-right mg-t10">
												<button type="button"    onclick="enrollReply();" class="xet_btn medium submit">등록</button>
											</div>
											<script type="text/javascript">
												var header = $("meta[name='_csrf_header']").attr('content');
											    var token = $("meta[name='_csrf']").attr('content');
										    	
											    
											    function delReply(rno) {
											    	$.ajax({
											            url: '/delReply?rno='+rno,
											            type: 'POST',
											            async : false,
											            contentType: 'application/json',
											            beforeSend: function (xhr) {
											                xhr.setRequestHeader(header, token);
											            },
											            success: function () {
											            	console.log("댓글 삭제 성공");
											            },
											            error: function () {
											                console.log("댓글 삭제 실패");
											            }
											          
											        });
											    	getReplyList();
											    	
											    }
											    
											    function getReplyList(){
											    	let object = {
											    			bid : $('#bid').val()
											    	}
											    	let replyList = document.getElementById('replyList');
											    	let dong = $('#bid').val();
											    	console.log('번호 : ' + dong);
											    	let jsondata = JSON.stringify(object);
											    	let htmlStr = '';
											    	$.ajax({
											            url: '/getReplyList',
											            data: jsondata,
											            type: 'POST',
											            async : false,
											            dataType: 'JSON',
											            contentType: 'application/json',
											            beforeSend: function (xhr) {
											                xhr.setRequestHeader(header, token);
											            },
											            success: function (data) {
											            	$('#replyCnt').text(data.length);
											                console.log(data);
											                
											                if (data.length > 0) {
										                        $(data).each(function (index) {
										                            //댓글 리스트 출력
										                        	htmlStr += 
										                            	`<div class="item " id="comment_`+ this.rno+ `">
											                            	<div class="indent">
												                        		<div class="itemAside hidden-xs visible-sm">
												                        			<img src="/sommunity/images/anonymous.png" alt="profile"
												                        				class="profile">
												                        		</div>
												                        		<div class="itemContent">
												                        			<div class="xet-clearfix">
												                        				<div class="float-left">
												                        					<div class="meta mg-b10">
												                        						<span>
												                        							<strong>`+ this.rauthor +`</strong> </span>
												                        						<!-- // 추천표시 출력 -->
												                        					</div>
												                        				</div>
												                        				<div class="float-right">
												                        					<div class="option-wrp"> `;
												                        				if(this.rauthor === $('#user').val())
												                        				htmlStr+= `<ul class="option">
												                        							<!--
												                        							<li>
												                        								<a href=""
												                        									class="xet_btn small"><span>수정</span></a>
												                        							</li>
												                        							-->
												                        							<li>
												                        								<a href="javascript:;" onclick="delReply(` + this.rno + `);return false;"
												                        									class="xet_btn small"><span>삭제</span></a>
												                        							</li>
												                        						</ul>
												                        					`;
												                        			htmlStr += `</div> </div>
												                        			</div>
												                        			<!-- // 댓글 출력 -->
												                        			<!--BeforeComment(3701,0)-->
												                        			<div class="comment_3701_0 xe_content">
												                        				<p>`+ this.rcontent +`</p>
												                        			</div>
												                        			<!--AfterComment(3701,0)-->
												                        			<div class="meta mg-t10">
												                        				<span title="등록일">` + this.rdate + `</span>
												                        			</div>
												                        		</div><!-- // itemContent end -->
												                        	</div><!-- // indent end -->
												                        </div>
											                        `
										                        }
										                        );
										                    }
										                    else {
										                        
										                    }
											                replyList.innerHTML = htmlStr;
											            	
											            },
											            error: function () {
											            	$('#replyCnt').text('0');
											                console.log("댓글 조회 실패");
											            }
											          
											        });
											    	
											    }
											    getReplyList();
											    
												function enrollReply() {
													if($('#user').val() === 'anonymousUser') {
														layerAlert('로그인 후 이용해주세요.');
														return;
													}
													
													if($('#breply').val() === '') {
														layerAlert('내용을 입력해주세요.');
														return;
													}
													
													
													let object = {
															bid : $('#bid').val(),
															rauthor : $('#user').val(),
															rcontent : $('#breply').val()
													}
													
													$('#breply').attr('value', '')
													
													console.log(object);
													let jsondata = JSON.stringify(object);
													
													$.ajax({
											            url: '/enrollReply',
											            data: jsondata,
											            type: 'POST',
											            async : false,
											            dataType: 'JSON',
											            contentType: 'application/json',
											            beforeSend: function (xhr) {
											                xhr.setRequestHeader(header, token);
											            },
											            success: function (data) {
											                
											            	console.log("댓글 삽입 성공");
											            	$('#breply').val('');
											            	getReplyList();
											            },
											            error: function () {
											                console.log("댓글 삽입 실패");
											            }
											          
											        });
													
												}
											</script>
										</div>
									</form>
								</div>
								<div id="recomment-form">
									<form action="./" method="post" onsubmit="return procFilter(this, insert_comment)"
										class="boardWrite cmtWrite">
										<input type="hidden" name="error_return_url"
											value="/simple_board_test/3700">
											<input type="hidden" name="act"
											value="">
											<input type="hidden" name="vid" value=""> 
											<input type="hidden"
											name="mid" value="simple_board_test"> 
											<input type="hidden"
											name="document_srl" value="3700"> 
											<input type="hidden" name="parent_srl"
											value=""> 
											<input type="hidden" name="content" id="re_com_content" value="">
										<input type="hidden" name="use_html" value="Y">
										<div class="textarea">
											<div class="mg-b10">
												<div class="write_type xet_clearfix">
													<div class="float-right">
														<input type="checkbox" name="is_secret" value="Y" id="is_secret"
															class="inputCheck"> <label for="is_secret"
															title="비밀글 기능">비밀글 기능</label>
													</div>
												</div>
												<div class="write_type xet_clearfix">
													<div class="input_form">
														<input type="text" name="nick_name" class="inputText userName"
															value="" title="작성자" placeholder="닉네임">
													</div>
												</div>
												<div class="write_type xet_clearfix">
													<div class="input_form">
														<input type="password" name="password" class="inputText userPw"
															value="" title="비밀번호" placeholder="비밀번호">
													</div>
												</div>
											</div>
											<textarea id="re_com_textarea"></textarea>
											<div class="text-right mg-t10">
												<a href="javascript:;" class="recomment-close xet_btn medium white">
													취소</a>
												<button type="submit" class="xet_btn medium submit"
													onclick="convertbr2();">등록</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="boardModal-form" id="boardModal-document-del">
								<div class="boardModal-header">삭제하시겠습니까?</div>
								<div class="boardModal-body">
									<form action="./" method="get" onsubmit="return procFilter(this, delete_document)">
										<input type="hidden" name="error_return_url"
											value="/simple_board_test/3700"><input type="hidden" name="act"
											value=""><input type="hidden" name="vid" value=""> <input type="hidden"
											name="mid" value="simple_board_test"> <input type="hidden" name="page"
											value="1"> <input type="hidden" name="document_srl" value=""> <a
											href="javascript:;" class="boardModal-form-close xet_btn medium">취소</a>
										<button type="submit" accesskey="s" class="xet_btn medium">삭제</button>
									</form>
								</div>
							</div>
							<!-- // 하단 내용 // -->
						</div>
						<!-- board End -->
						<!-- // 게시판 끝 // -->
					</div>
				</div>
			</div>
		</div>
	</div>
		<!-- Footer -->
		<footer id="footer">
			<div class="inner" style="padding: 0 2.5em;">
				<section>
					<h2>Follow</h2>
					<ul class="icons">
						<li><a href="https://www.facebook.com/thehandsome.official/"
							class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/thehandsome_official/"
							class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon solid style2 fa-phone"><span
								class="label">Phone</span></a></li>
						<li><a href="#" class="icon solid style2 fa-envelope"><span
								class="label">Email</span></a></li>
					</ul>
				</section>
				<ul class="copyright">
					<li>&copy;  Fourth st. MEN  All rights reserved</li>
				</ul>
			</div>
		</footer>

	</div>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/board.js"></script>
	<script src="assets/js/jquery.plugins.min.js"></script>

</body>

</html>