<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.project.product.repository.AdminProductMapper">

	<select id="getProductCommon" resultType="com.hyundai.project.dto.AdminProductDTO">
		SELECT A.BNAME, B.PID, B.PNAME, D.DEPTH1NAME, D.DEPTH2NAME, D.DEPTH3NAME
		  FROM BRAND A, PRODUCT_COMMON B, PRODUCT_CATEGORY C, CATEGORY D
		 WHERE A.BNO = B.BNO
		   AND B.PID = C.PID
		   AND C.CATENO = D.CATENO
		   AND A.BNAME LIKE DECODE(#{bname}, null, '%', '%'||#{bname}||'%')
		   AND B.PNAME LIKE DECODE(#{pname}, null, '%', '%'||#{pname}||'%')
		 order by b.pid
	</select>
	
	<select id="getBrand" resultType="com.hyundai.project.dto.BrandDTO">
		SELECT BNO, BNAME
		  FROM BRAND
	</select>
	
	<select id="getProductDetail" resultType="com.hyundai.project.dto.ProductDetailDTO">
		SELECT A.PNAME, b.pcprice, b.pcchipimg, b.pcimg1, B.PCIMG2, B.PCIMG3, b.pccolorcode, C.PSIZE, c.psstock, c.psid
		  FROM PRODUCT_COMMON A, PRODUCT_COLOR B, PRODUCT_STOCK C
		 WHERE A.PID = B.PID
		   AND B.PCID = C.PCID
		   AND A.PID = #{pid}
	</select>
	
	<update id="updateProductStock" parameterType="com.hyundai.project.dto.ProductStockDTO">
		UPDATE PRODUCT_STOCK
		   SET PSSTOCK = #{psstock}
		 WHERE PSID = #{psid}
	</update>
</mapper>