<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.project.product.repository.DrawMapper">

	<!-- 드로우 제품 리스트를 출력하는 SQL -->
	<select id="getDrawList" resultType="com.hyundai.project.dto.DrawListDTO">
		SELECT PSID,
		       PCID,
		       PID,
		       PMIMG1,
		       BNAME,
		       PNAME,
		       OPENYN,
		       REGYN
		FROM PRODUCT_DRAW
		WHERE REGYN = 'Y'
	</select>
	
	<!-- 선택한 드로우 제품의 상세정보를 출력하는 SQL -->
	<select id="getDrawDetail" resultType="com.hyundai.project.dto.DrawListDTO" parameterType="String">
		SELECT PSID,
	       	   PCID,
	       	   PID,
	       	   PMIMG2,
	       	   BNAME,
	       	   PNAME,
	       	   PMILEAGE,
	       	   PSIZE,
	       	   PCOLORCODE,
	       	   PNOTE,	       	   
	       	   OPENYN	       	   
		FROM PRODUCT_DRAW
		WHERE PSID = #{psid}
	</select>
	
	<!-- 드로우 응모 시 차감되는 마일리지 업데이트 하는 SQL -->
	<update id="updateMileage" parameterType="com.hyundai.project.dto.DrawDTO">
		UPDATE USERMANAGER.MEMBER
		SET MILEAGE = MILEAGE - #{pmileage, jdbcType=INTEGER}
		WHERE EMAIL = #{email, jdbcType=VARCHAR}
		AND MILEAGE >= #{pmileage, jdbcType=INTEGER}
	</update>
	
	<!-- 이메일로 사용자 전화번호 조회하는 SQL -->
	<select id="getPhoneByEmail" resultType="com.hyundai.project.dto.MemberDTO" parameterType="String">
	SELECT PHONE 
	FROM USERMANAGER.MEMBER
	WHERE EMAIL = #{email, jdbcType=VARCHAR}
	</select>
	
	<!-- Redis 서버에 있는 당첨자 정보 받아서 OracleDB에 저장하는 SQL -->
	<insert id="insertWinDraw" parameterType="com.hyundai.project.dto.DrawWinDTO">	 	
	 		INSERT 
	 		INTO USERMANAGER.DRAWS(DID,
	 							   PSID,
	 				   			   PCID,
	 				   			   PID,
	 				   			   EMAIL,
	 				   			   WDATE, 
	 				   			   PHONE
	 				   			   )
	 		VALUES(SEQ_DRAWS.NEXTVAL,
	 			   #{psid, jdbcType=VARCHAR},
	 			   #{pcid, jdbcType=VARCHAR},
	 			   #{pid, jdbcType=VARCHAR},
	 			   #{email, jdbcType=VARCHAR},
	 			   SYSDATE,
	 			   #{phone, jdbcType=VARCHAR})	
    </insert>
    
    <select id="getDrawListForAdmin" resultType="com.hyundai.project.dto.DrawListDTO">
    	SELECT PSID,
		       PCID,
		       PID,
		       PMIMG1,
		       BNAME,
		       PNAME,
		       OPENYN,
		       REGYN
		FROM PRODUCT_DRAW
    </select>
    
    <!-- 당첨자 리스트 출력하는 SQL -->
    <select id="getWinList" resultType="com.hyundai.project.dto.DrawWinDTO">
	    SELECT A.EMAIL,
	      	   C.PNAME,
	       	   A.PSID,
	       	   A.PHONE,
	       	   B.NAME,
	       	   TO_CHAR(A.WDATE, 'YYYY-MM-DD') WDATE,
	       	   A.OSTATUS
		FROM USERMANAGER.DRAWS A
		INNER JOIN USERMANAGER.MEMBER B
		ON A.EMAIL = B.EMAIL
		INNER JOIN PRODUCTMANAGER.PRODUCT_DRAW C
		ON A.PSID = C.PSID
    </select>
    
    <!-- 드로우 상품의 등록 여부를 업데이트 하는 SQL -->
    <update id="updateRegYn" parameterType="java.util.List">
    	<foreach collection="list" item="item" separator=";" open="DECLARE BEGIN" close=";END;">
	    	UPDATE PRODUCT_DRAW
	    	SET REGYN = #{item.regyn}
	    	WHERE PSID = #{item.psid}
	    </foreach> 
    </update>
    
    <!-- 드로우 당첨자의 이름, 이메일, 전화번호를 출력하는 SQL -->
    <select id="getWinMember" parameterType="String" resultType="com.hyundai.project.dto.MemberDTO">
    	SELECT NAME,
    		   EMAIL, 
    		   PHONE
    	FROM USERMANAGER.MEMBER 
    	WHERE EMAIL = #{email, jdbcType=VARCHAR}
    </select>
    
    <!-- 드로우 당첨자가 배송 정보 입력시 상태값 변경하는 SQL -->
    <update id="updateOstaus" parameterType="com.hyundai.project.dto.DrawDTO">
    	UPDATE USERMANAGER.DRAWS 
		SET OSTATUS = '입력완료'
		WHERE EMAIL = #{email, jdbcType=VARCHAR}
		AND PSID = #{psid, jdbcType=VARCHAR}
    </update>
</mapper>