<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.project.product.repository.MainProductMapper">
	<select id="getNewProduct" parameterType = "String" resultType="com.hyundai.project.dto.NewProductDTO">
        SELECT * FROM TABLE(FN_NEWPRODUCT_GET(#{depth1name, jdbcType=VARCHAR}))
    </select>
    
    <select id="getBestProduct" parameterType = "String" resultType="com.hyundai.project.dto.BestProductDTO">
        SELECT * FROM TABLE(FN_NEWPRODUCT_GET(#{depth1name, jdbcType=VARCHAR}))
    </select>
</mapper>