<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.project.product.repository.ProductMapper">
    <select id="getProduct" resultType="java.lang.String">
        SELECT PCODE FROM PRODUCT WHERE PNUM = 2
    </select>
    <!-- 상품의 컬러 정보 가져오기 -->
    <select id="getProductColor" resultType="com.hyundai.project.dto.ProductColorDTO">
    	SELECT * FROM TABLE(FN_PRODUCTCOLOR_GET(#{pcid}))
    </select>
    <!-- 신상품 20개 이하로 가져오기 -->
    <select id="getNewProduct" resultType="com.hyundai.project.dto.NewProductDTO">
    	SELECT * FROM TABLE(FN_NEWPRODUCT_GET(#{category}))
    </select>
    <!-- 상품 사이즈 정보 가져오기 -->
    <select id="getProductSize" resultType="com.hyundai.project.dto.ProductSizeDTO">
    	SELECT * FROM TABLE(FN_PRODUCTSIZE_GET(#{pcid}))
    </select>
    <!-- 상품 페이지 내 필요한 정보 가져오기 -->
    
    <select id="getProductDetail" resultType="com.hyundai.project.dto.ProductDetailDTO">
    	<![CDATA[
    	SELECT * FROM TABLE(FN_PRODUCT_DETAIL(#{pcid}))
    	]]>
    </select>
    
    <select id="getProductListByCategory" resultType="com.hyundai.project.dto.ProductViewDTO">
    	SELECT * FROM TABLE(FN_PRODUCTLIST_BY_CATEGORY(#{depth1name, jdbcType=VARCHAR}, 
    												   #{depth2name, jdbcType=VARCHAR}, 
    												   #{depth3name, jdbcType=VARCHAR}, 
    												   #{pagenum}, 
    												   #{pname, jdbcType=VARCHAR}))
    </select>
    
    <select id="getProductImgByPid" resultType="com.hyundai.project.dto.ProductImgDTO">
    	SELECT * FROM TABLE(FN_PRODUCTIMG_GET(#{pid}))
    </select>
    
    <select id="getProductsizeByPid" resultType="com.hyundai.project.dto.ProductSizeDTO">
    	SELECT * FROM TABLE(FN_PRODUCTSIZEBYPID_GET(#{pid}))
    </select>
    
    <select id="getProductColorCodeByPid" resultType="com.hyundai.project.dto.ProductColorDTO">
    	SELECT * FROM TABLE(FN_PRODUCTCOLORCODEBYPID_GET(#{pid}))
    </select>
    
    <select id="getProductImgByPcid" resultType="com.hyundai.project.dto.ProductColorDTO">
    	SELECT PCID, PCIMG1, PCIMG2, PCIMG3 FROM PRODUCT_COLOR WHERE PCID = #{pcid}
    </select>
    
    <select id="getProductCount" resultType="int">
    SELECT FN_PRODUCTLIST_COUNT(#{depth1name, jdbcType=VARCHAR},
    							#{depth2name, jdbcType=VARCHAR},
    							#{depth3name, jdbcType=VARCHAR},
    							#{pagenum}, 
    							#{pname, jdbcType=VARCHAR}) FROM DUAL
    </select>
    
    <resultMap id="categoryListMap" type="com.hyundai.project.dto.CategoryDTO" autoMapping="true">
    	<result column="DEPTH1NAME" property="depth1name" jdbcType="VARCHAR"/>
    	<collection property="subList" ofType="com.hyundai.project.dto.CategoryDTO" autoMapping="true">
	    	<result column="DEPTH2NAME" property="depth2name" jdbcType="VARCHAR" />
    		<collection property="subList" ofType="com.hyundai.project.dto.CategoryDTO" autoMapping="true">
		    	<result column="DEPTH3NAME" property="depth3name" jdbcType="VARCHAR" />
    		</collection>
    	</collection>
    </resultMap>
    <select id="getCategoryList" resultMap="categoryListMap">
    	SELECT DEPTH1NAME,
		       DEPTH2NAME,
		       DEPTH3NAME
		  FROM CATEGORY
		 WHERE depth2name not in ('SPECIAL SHOP')
		 ORDER BY CATENO
    </select>
</mapper>