<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.project.user.repository.CartMapper">

	<!-- 사용자가 담은 장바구니 목록을 조회하는 프로시저 -->
	<select id="getCartList" resultType="com.hyundai.project.dto.CartDTO">
		SELECT * FROM TABLE(FN_CART_SELECT(#{email}))
	</select>
	
	<!-- 상품을 장바구니에 담는 프로시저 -->
	<update id="cartInsert">
		CALL P_CART_INSERT(#{email}, #{psid}, #{pquantity})
	</update>
	
	<!-- 장바구니에 담긴 상품 수량을 변경하는 프로시저 -->
	<update id="cartUpdate">
		CALL P_CART_UPDATE(#{pquantity}, #{psid, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR})
	</update>
	
	<!-- 장바구니 삭제 -->
	<delete id="cartDelete">
		CALL P_CART_DELETE(#{email}, #{psid})
	</delete>
	
	<delete id="selectDelete" parameterType="java.util.ArrayList">
 		DELETE CART
 		<where>
 		<foreach collection="list" item="item" open="" close="" separator="OR">
 			(MID = #{item.email} AND PSID = #{item.psid})
 		</foreach>
 		</where>
 	</delete>
</mapper>