<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.project.user.repository.ReviewMapper">
	<!--  
	<select id="selectReview" parameterType="com.hyundai.project.dto.ReviewDTO" resultType="com.hyundai.project.dto.ReviewDTO">
        SELECT * FROM TABLE(FN_REVIEW_SELECT(#{rid, jdbcType=NUMERIC}, #{title, jdbcType=VARCHAR}, 
        #{rcontent, jdbcType=VARCHAR}, #{rimage, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR},
    	#{psid, jdbcType=VARCHAR}))
    </select>
	
	<insert id="insertReview" parameterType="com.hyundai.project.dto.ReviewDTO">
    	CALL P_REVIEW_INSERT(#{rid, jdbcType=NUMERIC}, #{title, jdbcType=VARCHAR}, 
        #{rcontent, jdbcType=VARCHAR}, #{rimage, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR},
    	#{psid, jdbcType=VARCHAR})
    </insert>
    -->
    
    <insert id="insertReview" parameterType="com.hyundai.project.dto.ReviewDTO">
    	insert into review
		values(#{email,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, SYSDATE, #{grade,jdbcType=VARCHAR}, 
		#{pcid,jdbcType=VARCHAR}, #{psize,jdbcType=VARCHAR}, #{bname,jdbcType=VARCHAR}, 
		#{pname,jdbcType=VARCHAR}, #{pcprice,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR}, 
		#{enjoysize,jdbcType=VARCHAR}, #{bodytype,jdbcType=VARCHAR}, #{reviewcontent}, #{filepath,jdbcType=VARCHAR}, #{pccolorcode,jdbcType=VARCHAR})
    </insert>
    
    <select id="getReview" parameterType="com.hyundai.project.dto.ReviewDTO" resultType="com.hyundai.project.dto.ReviewDTO">
    	select * from review
		where pcid in (
		select pcid
		from productmanager.product_color
		where pid = (
		select pid from productmanager.product_color where pcid = #{pcid}
		))
		order by rdate desc
    </select>
    
    <select id="isPurchased" parameterType="com.hyundai.project.dto.PurchasedProductDTO" resultType="com.hyundai.project.dto.PurchasedProductDTO">
		select OINFO.PSID, PCID, PCCOLORCODE, PSIZE, ORECEIVER, EMAIL, OSTATUS, PCIMG1
		from (select PSID, orders.OSTATUS AS OSTATUS, EMAIL , ORECEIVER from order_item 
		INNER JOIN orders ON order_item.oid = orders.oid where orders.OSTATUS='배송완료' AND EMAIL=#{email, jdbcType=VARCHAR}) 
		OINFO
		INNER JOIN
		(select PSID, PSIZE, PS.PCID, PCCOLORCODE, PCIMG1 from productmanager.product_Stock PS
		INNER JOIN productmanager.product_color PC
		ON PS.pcid = PC.pcid
		where PID IN
		(SELECT pid from productmanager.product_color where pcid = #{pcid, jdbcType=VARCHAR})) 
		PINFO
		ON OINFO.PSID = PINFO.PSID
    </select>
    
    <select id="reviewcount" parameterType = "String" resultType="int">
    select count(*) 
    from review
    where email=#{email, jdbcType=VARCHAR}
    
    </select>    
    
    <select id="reviewCheck" parameterType = "String" resultType="String">

	SELECT DISTINCT E.PCID
	FROM ORDERS A
	INNER JOIN ORDER_ITEM B
	ON A.OID = B.OID
	INNER JOIN PRODUCTMANAGER.PRODUCT_STOCK C
	ON B.PSID = C.PSID
	INNER JOIN PRODUCTMANAGER.PRODUCT_COLOR D
	ON C.PCID = D.PCID
	INNER JOIN REVIEW E
	ON A.EMAIL = E.EMAIL
	WHERE E.EMAIL = #{email, jdbcType=VARCHAR}
	
<!--     select C.PSID -->
<!--     from REVIEW A  -->
<!--     INNER JOIN ORDERS B -->
<!--     ON A.EMAIL = B.EMAIL -->
<!--     INNER JOIN ORDER_ITEM C -->
<!--     ON B.OID = C.OID -->
<!--     INNER JOIN PRODUCTMANAGER.PRODUCT_STOCK D -->
<!--     ON C.PSID = D.PSID -->
<!--     INNER JOIN PRODUCTMANAGER.PRODUCT_COLOR E -->
<!--     ON D.PCID = E.PCID -->
<!--     WHERE A.EMAIL=#{email, jdbcType=VARCHAR} AND A.PCID = E.PCID -->
    
    </select>
    
    <!--  
    <update id="updateReview" statementType = "CALLABLE">
    	CALL P_REVIEW_UPDATE(#{rid, jdbcType=NUMERIC}, #{title, jdbcType=VARCHAR}, 
        #{rcontent, jdbcType=VARCHAR}, #{rimage, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR},
    	#{psid, jdbcType=VARCHAR})
    </update>
    
    <delete id="deleteReview">
    	CALL P_REVIEW_DELETE(#{rid, jdbcType=NUMERIC})
    </delete>
	-->

</mapper>