<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/headerstatic :: headerstatic"></head>

<header th:replace="fragments/header :: header"></header>
<script>
	const arkQuery = $.noConflict(true);
	
	setTimeout(function(){
		// 선택상품 주문하기
	    $("#orderSheet").submit(function(e){
	    	const header = $("meta[name='_csrf_header']").attr('content');
	  	  	const token = $("meta[name='_csrf']").attr('content');
	  	  	
	    	e.preventDefault();
	        let form = $('#orderSheet');
	        let count = 0;
	        
	        //선택한 상품 개수만큼 데이터 input 추가
	        $('input:checkbox[name=cartlist]:checked').each(function(key, value){	        	        
	        	  count++;
		          console.log('count : ' + count);	 
	  	          console.log("key : " + key);
	  	          console.log("psid : " + value.getAttribute("psid"));
	  	          console.log("pqauntity : " + value.getAttribute("pquantity"));
	  	          
	  	          let input_psid = $("<input type='hidden' value=" + value.getAttribute("psid") + " name='list["+key+"].psid' readonly>");
	  	          let input_pquantity = $("<input type='hidden' value=" + value.getAttribute("pquantity") + " name='list["+key+"].pquantity' readonly>");
	  	          
	  	          form.append(input_psid);
	  	          form.append(input_pquantity);
	        });
	        
	        if(count == 0){
	          alert('선택된 상품이 없습니다.');
	          return false;
	        }
	        
	       $('#orderSheet')[0].submit();
	     });
	}, 500)
	
	$(function(){
		getCartList();
		
	  	$('#cartDataSubtotal').text("₩ "+0);
		$('#cartDataDeliveryCost').text("₩ "+0);
		$('#cartDataTotalPrice').text("₩ "+0);
		
		// 장바구니 상품 모두 체크했을 때 가격 합산
		$(document).on('click', '#entryCheckAll', function(){
			if($('#entryCheckAll').is(":checked")){
		      $("input[name=cartlist]").prop("checked",true);
		    } 
		    else {
		      $("input[name=cartlist]").prop("checked",false);
		    } 
		    let checked = $("input[name=cartlist]:checked").length;
		
		    $('#selectProductCount').text(checked);
		    calTotalPrice();
		}); // click function end...
	
		// 각각의 상품 체크했을 때 가격 합산
	    $(document).on('click', 'input:checkbox[name=cartlist]', function(){
	      let total = $("input:checkbox[name=cartlist]").length;
	      let checked = $("input:checkbox[name=cartlist]:checked").length;
		  							
	      if(total != checked) {
	        $('#entryCheckAll').prop("checked",false);
	      } 
	      else {
	        $('#entryCheckAll').prop("checked",true);
	      }
	      
	      $('#selectProductCount').text(checked);
	      calTotalPrice();
	    }); // click function end... 
	   
	  }); // 페이지 로드시 콜백 함수
	
	// 장바구니 담은 상품 전체 가격 계산 함수
	function calTotalPrice(){
        console.log("call calTotalPrice");
        var totalPrice = 0;     
        $("input[name=cartlist]:checked").each(function(key, value){
          //let num = $('#pquantity' + key).val();      
          console.log("key : " + key);          
          console.log(value.value);
          totalPrice += parseInt(value.value);
        });
        console.log(totalPrice);
        $('#cartDataSubtotal').text("₩ "+totalPrice.toLocaleString('ko-KR'));
    	  $('#cartDataDeliveryCost').text("₩ "+0);
    	  $('#cartDataTotalPrice').text("₩ "+totalPrice.toLocaleString('ko-KR'));
      } // function end...
	
	// 장바구니 +, - 버튼 동작 함수
    function quantityChange(op, idx){
        if(op == '-'){
        	document.querySelectorAll('quantity'+idx);
          let quantity = $('#quantity'+idx).val();
          console.log('clicked - ', quantity);
          if(quantity == 0){
            return;
          }
          $('#quantity'+idx).val(parseInt(quantity)-1);
          $('#cartlist'+idx).attr('pquantity',parseInt(quantity)-1)
        }else if(op == '+') {
          let quantity = $('#quantity'+idx).val();
          console.log('clicked + ', quantity);
          $('#quantity'+idx).val(parseInt(quantity)+1);
          $('#cartlist'+idx).attr('pquantity',parseInt(quantity)+1)
        }
      } // function end...
	
	// 장바구니 리스트 받는 함수
	function getCartList() {
		let vo = {
				'email' : $("#email").val()
		}
		
		let json = JSON.stringify(vo);
		console.log('Start getCartList');
		console.log(json);
		const header = $("meta[name='_csrf_header']").attr('content');
  	  	const token = $("meta[name='_csrf']").attr('content');
  	  	
		$.ajax({
			type : 'POST',
			url : '/getCartList',
			data : json,
			contentType : 'application/json',
			beforeSend: function(xhr){
                xhr.setRequestHeader(header, token);
            },
			success: function(data){
				console.log(data);
					if(data.length > 0){
						$(data).each(
								 function(index) {
									 const minus = "-";
									 const plus = "+";
									 let str = "<tr id='info" + index + "' name='entryProductInfo" + index + " data-pk='' data-deliverykind='' data-outofstock='false'";
										 str += "data-category=''> <td class='frt'> <input type='checkbox' name='cartlist' id='cartlist" + index;
										 str += "' data-pk='10681668861996' data-division='' data-deliverykind='' value='" + this.pquantity * this.pcprice + "' psid='" + this.psid;
										 str += "' pquantity='" + this.pquantity + "'> </td> <td class='pt_list_wrap'> <div class='pt_list_all'> <img src='" + this.pcImg1;
										 str += "' alt='' /> <div class='tlt_wrap'> <a href='#' class='basket_tlt'> <span class='tlt'>" + this.bname + "</span>";
										 str += "<span class='sb_tlt'>" + this.pname + "</span> </a> <p class='color_op'>color : " + this.pcolorCode + "<span class='and_line'>/</span>size : " + this.psize + "</p> </div> </div> </td>";
										 str += "<td class='al_middle'> <form id='updateCartForm" + index + "' action='/cartUpdate' method='post' style='text-align:center;'>";
										 str += "<input type='hidden' name='psid" + index + "' value='" + this.psid + "'/>";
										 str += "<input type='hidden' name='email' value='" + this.email + "'/>";
										 str += "<input type='hidden' id='pquantity" + index + "' value='" + this.pquantity + "'/>";
										 str += "<input type='hidden' name='pcprice" + index + "' value='" + this.pcprice + "' id='pcprice" + index + "'/>";
										 str += "<span class='qty_sel num'> <a href='#none' onclick='quantityChange(&quot;" + minus + "&quot;, &quot;" + index + "&quot;);' class='left'>-</a>";
										 str += "<input id='quantity" + index + "' name='pquantity' type='text' class='mr0' size='1' maxlength='3' value='" + this.pquantity + "'/>";
										 str += "<a href='#none' onclick='quantityChange(&quot;" + plus + "&quot;, &quot;" + index + "&quot;);' class='right'>+</a> </span>";
										 str += "<a id='QuantityProduct_" + index + "' class='btn wt_ss qty_w mr0' onclick='updateQuantity(&quot;" + index + "&quot;);'>변경</a>";
										 str += "</form> </td> <td class='al_middle'> <div class='price_wrap' id='price_wrap" + index + "'> <span>₩";
										 str += " " + (this.pcprice * this.pquantity).toLocaleString('ko-KR') + "</span>";
										 str += "<input type='hidden' name='checkZeroPrice' value='" + this.pcprice * this.pquantity + "'/> </div> </td>";
										 str += "<td class='al_middle'> <div class='btn_wrap'> <a href='#none' id='RemoveProduct_0' class='btn wt_ss'";
										 str += "onclick='deleteCart(&quot;" + index + "&quot;)'>삭제</a> </div> </td> </tr>";
									 	 $("#list").append(str);
								 });	
					} else {
						let str = "<td colspan='6' class='no_data frt'>쇼핑백에 담긴 상품이 없습니다.</td>";
						$("#list").append(str);
					}
			},
			error: function(request, status, error){
				layerAlert("code:"+request.status+"\n"+"error:"+error);
			}
		});
	} // function end...
	
	// 장바구니 상품 수량 변경하는 함수
	function updateQuantity(idx){
  	  console.log(idx);
      let form = $('#updateCartForm'+idx)[0];
      let formData = new FormData(form);
      const header = $("meta[name='_csrf_header']").attr('content');
	  const token = $("meta[name='_csrf']").attr('content');
      console.log(formData);
        console.log(form);
        
        let formSerializeArray = $('#updateCartForm'+idx).serializeArray();
        let object = {};
        for (var i = 0; i < formSerializeArray.length; i++){
            object[formSerializeArray[i]['name']] = formSerializeArray[i]['value'];
        }
		 
		var json = JSON.stringify(object);
		console.log(json);
		console.log(object);
		
      $.ajax({
        type : 'POST',
        url : '/cartUpdate',
        data : json,
        contentType: 'application/json',     
        beforeSend: function(xhr){
            xhr.setRequestHeader(header, token);
        },
        success: function(data){
          console.log(data);
          $('#quantity'+idx).val(data.pquantity);
          
          //가격 수정하는 부분 
          let price = parseInt($('#pcprice'+idx).val());
          console.log('price : ' + price);
          price = price * parseInt(data.pquantity)
          console.log('price : ' + price);
          $('#price_wrap'+idx).children('span').text('₩ '+price.toLocaleString('ko-KR'));
          $('#price_wrap'+idx).children('input').val(price);
          $('#cartlist'+idx).val(price);
          
          //체크박스의 가격 수정하는 부분
          $('#cartlist'+idx).val(price);
        },
        error: function(request, status, error){
        	layerAlert("code:"+request.status+"\n"+"error:"+error);
        }
      })
    } // function end...
    
    // 장바구니 상품 하나씩 삭제하는 함수 
    function deleteCart(idx){
    	console.log(idx);
    	const header = $("meta[name='_csrf_header']").attr('content');
  	  	const token = $("meta[name='_csrf']").attr('content');

  	  	let object = {
  	  		'psid' : $("input[name=psid" + idx + "]").val(),
  	  		'email' : $("input[name=email]").val() 
  	  	}
  	  	console.log(object);
  	  	json = JSON.stringify(object);
  	  	
    	$.ajax({
    		type : 'POST',
    		url : '/cartDelete',
    		data : json,
    		contentType : 'application/json',
    		beforeSend: function(xhr){
                xhr.setRequestHeader(header, token);
            },
            success: function(data){
                console.log(data);
                location.href="/cart/cartList"; // 새로고침
                //$('#info' + idx).remove(); 
              },
              error: function(request, status, error){
            	  layerAlert("code:"+request.status+"\n"+"error:"+error);
              }
            })
    }// function end...
    
    function selectDelete(){
    	
    }   
</script>
<body>
	<input type="hidden" id="email" th:value="${email}"></input>
	<div id="bodyWrap" style="padding-bottom: 0;">
		<!-- title -->
		<h3 class="cnts_title cnts_tlt1807"><span>쇼핑백</span></h3>
		<!-- 장바구니-->
		<span id="shoppingbagCartView">
			<!--  sub_container -->
			<div class="sub_container">
				<div class="orderwrap1807">
					<div class="tbl_info_wrap">
						<p class="cart_top_text">
						</p>
		              	<div class="fourpm_pd_ck">
			                <div class="input_wrap">
			                </div>
		              	</div>
					</div>
					<!--shoppingback table-->
            		<div class="tblwrap">
            			<table class="tbl_ltype">
            				<caption>쇼핑백</caption>
            				<colgroup>
            					<col style="width: 10px;" />
                  				<col />
                  				<col style="width: 120px" />
                  				<col style="width: 105px" />                  		
                  				<col style="width: 110px" />
               				 </colgroup>
	            			 <thead>
	            				<tr>
	            					<th scope="col">
	            						<input type="checkbox" id="entryCheckAll" value="cartlist">
	            					</th>
	            					<th scope="col">상품정보</th>
	                    			<th scope="col">수량</th>
	                    			<th scope="col">판매가</th>
	                    			<th scope="col">선택</th>
	                    	 </tr>
	                    	 <tbody id="list">
	                    	 </tbody>
	                    	 </thead>         	
            			</table>
            			<div id="test"></div>
            		</div>
		            <!--// shoppingback table-->
		            <!--Total wrap-->
		            <div class="total_wrap">
		              <!-- total -->
		              <div class="total_price_wrap">
		                <dl>
		                  <dt>
		                    상품 합계</dt>
		                  <dd>
		                    <span id="cartDataSubtotal">₩ 0</span>
		                  </dd>
		                  <dt class="delch_wrap">
		                    <p class="tlt_ship">배송비</p>
		                    <!--delivery charge layer popup-->
		                    <div class="delch_box" style="display: none;">
		                      <span class="arr">위치아이콘</span>
		                      <ul class="bul_sty01_li">
		                        <li>쿠폰/바우처 할인금액 및 한섬마일리지/H.Point 사용을 제외한 실 결제금액 기준 <strong>3만원 미만 결제 시 2,500원 배송비가 부과</strong>
		                          됩니다.(3만원 이상 구매 시 무료배송)</li>
		                        <li>도서산간 지역은 배송비가 추가 될 수 있습니다.</li>
		                        <li>한섬마일리지, H.Point, e-money로 배송비 결제가 불가합니다.</li>
		                      </ul>
		                    </div>
		                    <!--//delivery charge layer popup-->
		                  </dt>
		                  <dd>
		                    <span id="cartDataDeliveryCost">₩ 0</span>
		                  </dd>
		                </dl>
		                <dl class="total ">
		                  <dt>
		                    합계</dt>
		                  <dd>
		                    <span id="cartDataTotalPrice">₩ 0</span>
		                  </dd>
		                </dl>
		              </div>
		              <div class="total_count1807">
		                <p>총 <span id="selectProductCount">0</span>개 상품</p>
		              </div>
		            </div>
		            <div class="btnwrap order" id="checkout_btn_wrap">		              
		                <form action="/order/orderSheet" method="POST" id="orderSheet">
		                  <input value="선택상품 주문하기"  class="btn gray mr0" type="submit"  />
		                  <input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>
		                </form>		               
		            </div>							
				</div>
		</span>
	</div>
</body>
</html>