<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/headerstatic :: headerstatic"></head>

<header th:replace="fragments/header :: header"></header>
<script type="text/javascript">
</script>
<script type="text/javascript">
var arkQuery = $.noConflict(true);

$(document).ready(function(){
	mainSlider1903();	
}) 

function changeNew(e){
	console.log(e);
	const header = $("meta[name='_csrf_header']").attr('content');
 	const token = $("meta[name='_csrf']").attr('content'); 

 	const jsonData ={
			"depth1name" : e
	}
 	
	$.ajax({
		type : 'POST',
		url : "/mainAjaxNew",
		data : JSON.stringify(jsonData),
		contentType : 'application/json',
		dataType : 'json',
		beforeSend: function(xhr){
               xhr.setRequestHeader(header, token);
           },
		success : function(result) {
			result.forEach(function(item,index){
				console.log(item);
				$('#firstnewlink'+index).attr('href','/detail?pcid='+item.pcid);
				$('#seconnewdlink'+index).attr('href','/detail?pcid='+item.pcid);
				$('#newimg'+index).attr('src', item.pcimg1);
				$('#newbname'+index).text(item.bname);
				$('#newprice'+index).text('₩'+Number(item.pcprice).toLocaleString());
				console.log('done');
			});
		},
		error : function(e) {
			console.log(e);
		}
	});
}

function changeBest(e){
	console.log(e);
	const header = $("meta[name='_csrf_header']").attr('content');
 	const token = $("meta[name='_csrf']").attr('content'); 

 	const jsonData ={
			"depth1name" : e
	}
 	
	$.ajax({
		type : 'POST',
		url : "/mainAjaxBest",
		data : JSON.stringify(jsonData),
		contentType : 'application/json',
		dataType : 'json',
		beforeSend: function(xhr){
               xhr.setRequestHeader(header, token);
           },
		success : function(result) {
			result.forEach(function(item,index){
				console.log(item);
				$('#firstbestlink'+index).attr('href','/detail?pcid='+item.pcid);
				$('#secondbestlink'+index).attr('href','/detail?pcid='+item.pcid);
				$('#bestimg'+index).attr('src', item.pcimg1);
				$('#bestbname'+index).text(item.bname);
				$('#bestprice'+index).text('₩'+Number(item.pcprice).toLocaleString());
				console.log('done');
			});
		},
		error : function(e) {
			console.log(e);
		}
	});
}

	//chatting start
	const url = window.location.host;
	const websocket = new WebSocket("ws://"+url+"/ws/chat");
	websocket.onmessage = onMessage;	//소켓이 메세지를 받을 때 
	websocket.onopen = onOpen;			//소켓이 생성될때 클라이언트 접속 
	websocket.onclose = onClose;		//소켓이 닫힐때(클라이언트 접속해제)

	//on exit chat room
	function onClose(evt){
		console.log("close event : " + evt);
	}

	//on entering chat room 
	function onOpen(evt){
		console.log("open event : " +evt);
	}

	//on message controller
	function onMessage(msg){
		const data = JSON.parse(msg.data);	//msg를 받으면 data필드 안에 JSON String으로 정보가 있음 
		//필요한 정보를 json data에서 추출 
		const senderId = data.senderId;
		const message = data.message+' '+data.time;
		const newOne = data.newOne;
		const outOne = data.outOne;
		
		console.log(data);
		
		if(!message.includes('님이 접속했습니다.') && !message.includes('님이 퇴장했습니다.')){
			//console.log('ddd');
			let html = '';
			if(senderId != 'master'){
				html += '<li style="list-style:block;"><div class="clientMsg" style="float:right; clear:right; max-width: 80%;"  beforeM="'+message+'"> '+message +'</div>  </li> <br>';	
			}else{
				html += '<li style="list-style:block;"><div  class="clientMsg" style="float:left; clear:left; background-color:#d7f7a6; max-width: 80%;"  onclick="transkotoen(this)" beforeM="'+message+'"> '+message + ' </div><div style="display:none;" onclick="returnKO(this)">恢复</div></li><br>';
			}
			
			$('.messageBox').append(html);
			
			//$('#chatInput').val('');
			$('.messageBox').scrollTop($('.messageBox').height()*10);	
		}
	}

	//send a message
	function send(){
		const message = $('#chatInput').val();
		console.log(message);
		
		//don't send when content is empty
		//채팅 입력칸이 비어있지 않은 경우에만 정보를 json 형태로 전송 
		if(message != ""){
			let msg = {
					'receiverId' : 'master', //receiverId,
					'message' : message 
			}
			
			if(message != null){
				websocket.send(JSON.stringify(msg));	//websocket handler로 전송(서버로 전송)
			}
			$('#chatInput').val('');
		}
	}
	
	function clickChat(){
		$('#chatBtn').toggle();
		$('#chatModal').toggle();
		
		$('.messageBox').scrollTop($('.messageBox').height()*10);
		console.log('ddddd');
		
	}
	function closeChatModal(){
		$('#chatBtn').toggle();
		$('#chatModal').toggle();
	}
	//chatting end
	
	
	function mainSlider1903() {
       $('.big_banner_inner').each(function(){
           if($(this).hasClass('init')){
               $(this).removeClass('init');
           }
       });
       
       /* 슬라이드 갯수에 따른 loop추가 및 제거(20210222) */
       var bannerIndex1 = $('#mainSlider1903_0 .swiper-slide').length;
       var bannerIndex2 = $('#mainSlider1903_1 .swiper-slide').length;
       var bannerIndex3 = $('#mainSlider1903_2 .swiper-slide').length;
       
       var interleaveOffset = 1;
       var swiperOptions0 = {
           initialSlide:0,
           loop: bannerIndex1 === 1 ? false:true,
           autoplay: {
               delay: 4000,
               autoplayDisableOnInteraction: true,// 쓸어 넘기거나 버튼 클릭 시 자동 슬라이드 정지.
               disableOnInteraction: false,//180911 스와이핑 후에도 자동 롤링 되도록 추가
           },
           loopAdditionalSlides: 6,
           speed: 1000,
           pagination: {
               el: '.swiper-pagination',
               clickable: true,
               // 20200914 페이징 퍼이를 위한 주석처리
               /* type: 'progressbar', */
           },
           navigation: {
               nextEl: '.swiper-button-next.bigb',
               prevEl: '.swiper-button-prev.bigb',
           },
           simulateTouch:false,
           parallax: true,
           grabCursor: true,
           watchSlidesProgress: true,
           slidesPerView: 'auto',
           centeredSlides:true,
           on: {
               progress: function(){
                   var swiper = this;
                   for (var i = 0; i < swiper.slides.length; i++) {
                       var slideProgress = swiper.slides[i].progress,
                               innerOffset = swiper.width * interleaveOffset,
                               innerTranslate = slideProgress * innerOffset;
                       swiper.slides[i].querySelector(".slide-bgimg").style.transform =
                           "translate3d(" + innerTranslate + "px, 0, 0)";
                   }
               },
               touchStart: function() {
                   var swiper = this;
                   for (var i = 0; i < swiper.slides.length; i++) {
                       swiper.slides[i].style.transition = "";
                   }
               },
               setTransition: function(speed) {
                   var swiper = this;
                   for (var i = 0; i < swiper.slides.length; i++) {
                       swiper.slides[i].style.transition = speed + "ms";
                       swiper.slides[i].querySelector(".slide-bgimg").style.transition =
                           speed + "ms";
                   }
               }
           }
       }
           var swiperOptions1 = {
               initialSlide:1,
               loop: bannerIndex2 === 1 ? false:true,
               autoplay: {
                   delay: 4000,
                   autoplayDisableOnInteraction: true,// 쓸어 넘기거나 버튼 클릭 시 자동 슬라이드 정지.
                   disableOnInteraction: false,//180911 스와이핑 후에도 자동 롤링 되도록 추가
               },
               loopAdditionalSlides: 6,
               speed: 1000,
               navigation: {
                   nextEl: '.swiper-button-next.bigb',
                   prevEl: '.swiper-button-prev.bigb',
               },
               parallax: true,
               grabCursor: true,
               watchSlidesProgress: true,
               slidesPerView: 'auto',
               centeredSlides:true,
               on: {
                   progress: function(){
                       var swiper = this;
                       for (var i = 0; i < swiper.slides.length; i++) {
                           var slideProgress = swiper.slides[i].progress,
                                   innerOffset = swiper.width * interleaveOffset,
                                   innerTranslate = slideProgress * innerOffset;
                           swiper.slides[i].querySelector(".slide-bgimg").style.transform =
                               "translate3d(" + innerTranslate + "px, 0, 0)";
                       }
                   },
                   touchStart: function() {
                       var swiper = this;
                       for (var i = 0; i < swiper.slides.length; i++) {
                           swiper.slides[i].style.transition = "";
                       }
                   },
                   setTransition: function(speed) {
                       var swiper = this;
                       for (var i = 0; i < swiper.slides.length; i++) {
                           swiper.slides[i].style.transition = speed + "ms";
                           swiper.slides[i].querySelector(".slide-bgimg").style.transition =
                               speed + "ms";
                       }
                   }
               }
           }
       var swiper2length = $("#mainSlider1903_2 > ul > li").length;
       if(swiper2length > 0){
           swiper2length -= 1;
       }
               var swiperOptions2 = {
                   initialSlide: swiper2length ,
                   loop: bannerIndex3 === 1 ? false:true,
                   autoplay: {
                       delay: 4000,
                       autoplayDisableOnInteraction: true,// 쓸어 넘기거나 버튼 클릭 시 자동 슬라이드 정지.
                       disableOnInteraction: false,//180911 스와이핑 후에도 자동 롤링 되도록 추가
                   },
                   loopAdditionalSlides: 6,
                   speed: 1000,
                   navigation: {
                       nextEl: '.swiper-button-next.bigb',
                       prevEl: '.swiper-button-prev.bigb',
                   },
                   parallax: true,
                   grabCursor: true,
                   watchSlidesProgress: true,
                   slidesPerView: 'auto',
                   centeredSlides:true,
                   on: {
                       progress: function(){
                           var swiper = this;
                           for (var i = 0; i < swiper.slides.length; i++) {
                               var slideProgress = swiper.slides[i].progress,
                                       innerOffset = swiper.width * interleaveOffset,
                                       innerTranslate = slideProgress * innerOffset;
                               swiper.slides[i].querySelector(".slide-bgimg").style.transform =
                                   "translate3d(" + innerTranslate + "px, 0, 0)";
                           }
                       },
                       touchStart: function() {
                           var swiper = this;
                           for (var i = 0; i < swiper.slides.length; i++) {
                               swiper.slides[i].style.transition = "";
                           }
                       },
                       setTransition: function(speed) {
                           var swiper = this;
                           for (var i = 0; i < swiper.slides.length; i++) {
                               swiper.slides[i].style.transition = speed + "ms";
                               swiper.slides[i].querySelector(".slide-bgimg").style.transition =
                                   speed + "ms";
                           }
                       }
                   }
       };
       
       $("#mainSlider1903_1").find("div.a_txt_wrap").hide();
       $("#mainSlider1903_2").find("div.a_txt_wrap").hide();
       var swiper01 = new Swiper("#mainSlider1903_0", swiperOptions0);
       var swiper02 = new Swiper("#mainSlider1903_1", swiperOptions1);
       var swiper03 = new Swiper("#mainSlider1903_2", swiperOptions2);
   }
	
	//trans
	function transkotoen(e){
		console.log($(e).text());
		const header = $("meta[name='_csrf_header']").attr('content');
	 	const token = $("meta[name='_csrf']").attr('content'); 

	 	const jsonData ={
				"beforeM" : $(e).text()
		}
	 	
		$.ajax({
			type : 'POST',
			url : "/trans/transkotoen",
			data : JSON.stringify(jsonData),
			contentType : 'application/json',
			dataType : 'json',
			beforeSend: function(xhr){
	               xhr.setRequestHeader(header, token);
	           },
			success : function(data) {
				const afterM = data.message.result.translatedText;
				$(e).text(afterM);
				const nextE = $(e).next();
				nextE.toggle();
			},
			error : function(e) {
				console.log(e);
				
			}
		});
	}
	//
	function returnKO(e){
		console.log('called returnKO');
		$(e).toggle();
		const beforeE = $(e).prev();
		console.log($(beforeE).attr('beforeM'));
		$(beforeE).text($(beforeE).attr('beforeM'));
		
	}


</script>
<body>
	<!--     bodyWrap -->
	<div id="bodyWrap" style="padding-bottom: 0;">
		<div class="big_banner1903">
            <div class="swiper-container big_banner_inner swiper-container-horizontal swiper-container-wp8-horizontal" id="mainSlider1903_0">
                <div class="big_banner_frame"></div>
                	<ul class="slides swiper-wrapper">                		
	                    <li class="swiper-slide">
	            			<div class="slide-bgimg" style="background-image: url('/_ui/desktop/common/images/main/main-slider-01.jpeg');"></div>
	            				<a href="/sommunity/home" onclick="GA_main('banner',$(this));">
		                			<div class="a_txt_wrap left">
			                    		<p class="title">
			                    			<span class="bar-in">
			                            	</span>
					                    </p>
			                    		<p class="s_title">
			                    			<font color="#000000">게시글, 댓글 작성시 <br>마일리지 적립</font>
			                    		</p>
			                    			<div class="shop_now_btn" style="border-color:#000000;color:#000000">커뮤니티 이동하기</div>
			                    	</div>
		                			<div class="v_img">
		                    			<img src="/_ui/desktop/common/images/main/main-slider-01.jpeg" alt="" class="entity-img">
		                			</div>			
	            				</a>
	                	</li>
						<li class="swiper-slide">
	            			<div class="slide-bgimg" style="background-image: url('/_ui/desktop/common/images/main/main-slider-02.jpg'); transform: translate3d(2038px, 0px, 0px); transition: all 0ms ease 0s;"></div>
	            			<a href="/draw/drawList" onclick="GA_main('banner',$(this));">
	                			<div class="a_txt_wrap left">
	                    			<p class="title">                    	
	                    			</p>
	                    			<p class="s_title">
	                    				<font color="#000000"></font>
	                    			</p>                    
	                				<div class="v_img">
	                    				<img src="/_ui/desktop/common/images/main/main-slider-02.jpg" alt="" class="entity-img">
	                				</div>
	            			</a>
	                	</li>
						<li class="swiper-slide">
           		 		<div class="slide-bgimg" style="background-image: url('/_ui/desktop/common/images/main/main-slider-03.jpeg'); transform: translate3d(2038px, 0px, 0px); transition: all 0ms ease 0s;"></div>
            			<a href="/draw/drawList" onclick="GA_main('banner',$(this));">
                			<div class="a_txt_wrap left">
                    			<p class="title">                    	
                    			</p>
                    			<p class="s_title">
                    				<font color="#000000"></font>
                    			</p>                    
                				<div class="v_img">
                    				<img src="/_ui/desktop/common/images/main/main-slider-03.jpeg" alt="" class="entity-img">
                				</div>
            			</a>
                	</li>             
					</ul>
					<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet swiper-pagination-bullet-active">
						</span><span class="swiper-pagination-bullet">
						</span><span class="swiper-pagination-bullet">
						</span><span class="swiper-pagination-bullet">
						</span>
					</div>               
            </div>
           	<div class="swiper-container big_banner_inner swiper-container-horizontal swiper-container-wp8-horizontal" id="mainSlider1903_1" style="margin-top: -480px; left: 1035px; cursor: grab;">
                <div class="big_banner_frame"></div>
                	<ul class="slides swiper-wrapper">                		
	                    <li class="swiper-slide">
	            			<div class="slide-bgimg" style="background-image: url('/_ui/desktop/common/images/main/main-slider-01.jpeg');"></div>
	            				<a href="/sommunity/home" onclick="GA_main('banner',$(this));">
		                			<div class="a_txt_wrap left">
			                    		<p class="title">
			                    			<span class="bar-in">
			                            	</span>
					                    </p>
			                    		<p class="s_title">
			                    			<font color="#000000">게시글, 댓글 작성시 <br>마일리지 적립</font>
			                    		</p>
			                    			<div class="shop_now_btn" style="border-color:#000000;color:#000000">커뮤니티 이동하기</div>
			                    	</div>
		                			<div class="v_img">
		                    			<img src="/_ui/desktop/common/images/main/main-slider-01.jpeg" alt="" class="entity-img">
		                			</div>			
	            				</a>
	                	</li>
						<li class="swiper-slide">
	            			<div class="slide-bgimg" style="background-image: url('/_ui/desktop/common/images/main/main-slider-02.jpg'); transform: translate3d(2038px, 0px, 0px); transition: all 0ms ease 0s;"></div>
	            			<a href="/draw/drawList" onclick="GA_main('banner',$(this));">
	                			<div class="a_txt_wrap left">
	                    			<p class="title">                    	
	                    			</p>
	                    			<p class="s_title">
	                    				<font color="#000000"></font>
	                    			</p>                    
	                				<div class="v_img">
	                    				<img src="/_ui/desktop/common/images/main/main-slider-02.jpg" alt="" class="entity-img">
	                				</div>
	            			</a>
	                	</li>
						<li class="swiper-slide">
           		 		<div class="slide-bgimg" style="background-image: url('/_ui/desktop/common/images/main/main-slider-03.jpeg'); transform: translate3d(2038px, 0px, 0px); transition: all 0ms ease 0s;"></div>
            			<a href="/draw/drawList" onclick="GA_main('banner',$(this));">
                			<div class="a_txt_wrap left">
                    			<p class="title">                    	
                    			</p>
                    			<p class="s_title">
                    				<font color="#000000"></font>
                    			</p>                    
                				<div class="v_img">
                    				<img src="/_ui/desktop/common/images/main/main-slider-03.jpeg" alt="" class="entity-img">
                				</div>
            			</a>
                	</li>             
					</ul>
					<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet swiper-pagination-bullet-active">
						</span><span class="swiper-pagination-bullet">
						</span><span class="swiper-pagination-bullet">
						</span><span class="swiper-pagination-bullet">
						</span>
					</div>               
            </div>
            <div class="swiper-container big_banner_inner swiper-container-horizontal swiper-container-wp8-horizontal" id="mainSlider1903_2" style="margin-top: -480px; left: -1035px; cursor: grab;">
                <div class="big_banner_frame"></div>
                	<ul class="slides swiper-wrapper">                		
	                    <li class="swiper-slide">
	            			<div class="slide-bgimg" style="background-image: url('/_ui/desktop/common/images/main/main-slider-01.jpeg');"></div>
	            				<a href="/sommunity/home" onclick="GA_main('banner',$(this));">
		                			<div class="a_txt_wrap left">
			                    		<p class="title">
			                    			<span class="bar-in">
			                            	</span>
					                    </p>
			                    		<p class="s_title">
			                    			<font color="#000000">게시글, 댓글 작성시 <br>마일리지 적립</font>
			                    		</p>
			                    			<div class="shop_now_btn" style="border-color:#000000;color:#000000">커뮤니티 이동하기</div>
			                    	</div>
		                			<div class="v_img">
		                    			<img src="/_ui/desktop/common/images/main/main-slider-01.jpeg" alt="" class="entity-img">
		                			</div>			
	            				</a>
	                	</li>
						<li class="swiper-slide">
	            			<div class="slide-bgimg" style="background-image: url('/_ui/desktop/common/images/main/main-slider-02.jpg'); transform: translate3d(2038px, 0px, 0px); transition: all 0ms ease 0s;"></div>
	            			<a href="/draw/drawList" onclick="GA_main('banner',$(this));">
	                			<div class="a_txt_wrap left">
	                    			<p class="title">                    	
	                    			</p>
	                    			<p class="s_title">
	                    				<font color="#000000"></font>
	                    			</p>                    
	                				<div class="v_img">
	                    				<img src="/_ui/desktop/common/images/main/main-slider-02.jpg" alt="" class="entity-img">
	                				</div>
	            			</a>
	                	</li>
						<li class="swiper-slide">
           		 		<div class="slide-bgimg" style="background-image: url('/_ui/desktop/common/images/main/main-slider-03.jpeg'); transform: translate3d(2038px, 0px, 0px); transition: all 0ms ease 0s;"></div>
            			<a href="/draw/drawList" onclick="GA_main('banner',$(this));">
                			<div class="a_txt_wrap left">
                    			<p class="title">                    	
                    			</p>
                    			<p class="s_title">
                    				<font color="#000000"></font>
                    			</p>                    
                				<div class="v_img">
                    				<img src="/_ui/desktop/common/images/main/main-slider-03.jpeg" alt="" class="entity-img">
                				</div>
            			</a>
                	</li>             
					</ul>
					<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet"></span>
						<span class="swiper-pagination-bullet swiper-pagination-bullet-active">
						</span><span class="swiper-pagination-bullet">
						</span><span class="swiper-pagination-bullet">
						</span><span class="swiper-pagination-bullet">
						</span>
					</div>               
            </div>
            <div class="swiper-button-prev bigb"></div>
            <div class="swiper-button-next bigb"></div>
        </div>
		<!-- main_container-->
		<div class="main_container">
			<!-- new & best -->
                <div class="product_list1903">
                    <div class="nbe_cnt new">
                        <div class="product_left_menu">
                            <h4 class="tit">신상품</h4>
                            <ul>
                                <li class="on"> <a href="javascript:void(0);" onclick="changeNew('WOMEN')">여성</a></li>
                                <li class="on"> <a href="javascript:void(0);" onclick="changeNew('MEN')">남성</a></li>
                                <li class="on"> <a href="javascript:void(0);" onclick="changeNew('LIFESTYLE')">라이프스타일</a></li>
                            </ul>
                        </div>
                        <div class="nbe_cnt_inner_wrap">
                            <div class="nbe_cnt_inner swiper-container swiper-container-horizontal swiper-container-wp8-horizontal"
                                id="newListSlider">
                                <ul class="items_list swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                    <th:block th:each="product, status : ${newproductList}">
                                    <th:block th:switch="${status.index}">
                                    <th:block th:case="0">
                                    	<li class="swiper-slide swiper-slide-active">
	                                        <div class="item_box"> 
	                                        <a th:id="'firstnewlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info1"
	                                                onclick="javascript:GA_main('newImg',$(this));setEcommerceData(0, 'NEW', 'WE');">
	                                        <span class="item_img"> 
	                                        	<img th:id="'newimg'+${status.index}" th:src="${product.pcimg1}" alt="" name="밴딩 와이드 팬츠" class="respon_image"> 
	                                        </span> 
	                                        </a> 
	                                        <a th:id="'secondnewlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info2"
	                                                onclick="javascript:GA_main('new',$(this));setEcommerceData(0, 'NEW', 'WE');">
	                                        	<span th:id="'newbname'+${status.index}" class="brand" th:text="${product.bname}"></span> 
	                                        	<span th:id="'newprice' + ${status.index}" class="price" th:text="'₩'+${#numbers.formatInteger(product.pcprice,3,'COMMA')}"></span> 
	                                        </a> 
	                                        </div>
	                                    </li>
                                    	</th:block>
                                    	<th:block th:case="1">
	                                    <li class="swiper-slide swiper-slide-next">
	                                        <div class="item_box"> 
	                                        <a th:id="'firstnewlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info1"
	                                                onclick="javascript:GA_main('newImg',$(this));setEcommerceData(0, 'NEW', 'WE');">
	                                        <span class="item_img"> 
	                                        	<img th:id="'newimg'+${status.index}" th:src="${product.pcimg1}" alt="" name="밴딩 와이드 팬츠" class="respon_image"> 
	                                        </span> 
	                                        </a> 
	                                        <a th:id="'secondnewlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info2"
	                                                onclick="javascript:GA_main('new',$(this));setEcommerceData(0, 'NEW', 'WE');">
	                                        	<span th:id="'newbname'+${status.index}" class="brand" th:text="${product.bname}"></span> 
	                                        	<span th:id="'newprice' + ${status.index}" class="price" th:text="'₩'+${#numbers.formatInteger(product.pcprice,3,'COMMA')}"></span> 
	                                        </a> 
	                                        </div>
	                                    </li>
	                                    </th:block>
	                                    <th:block th:case="2">
	                                    <li class="swiper-slide">
	                                        <div class="item_box"> 
	                                        <a th:id="'firstnewlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info1"
	                                                onclick="javascript:GA_main('newImg',$(this));setEcommerceData(0, 'NEW', 'WE');">
	                                        <span class="item_img"> 
	                                        	<img th:id="'newimg'+${status.index}" th:src="${product.pcimg1}" alt="" name="밴딩 와이드 팬츠" class="respon_image"> 
	                                        </span> 
	                                        </a> 
	                                        <a th:id="'secondnewlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info2"
	                                                onclick="javascript:GA_main('new',$(this));setEcommerceData(0, 'NEW', 'WE');">
	                                        	<span th:id="'newbname'+${status.index}" class="brand" th:text="${product.bname}"></span> 
	                                        	<span th:id="'newprice' + ${status.index}" class="price" th:text="'₩'+${#numbers.formatInteger(product.pcprice,3,'COMMA')}"></span> 
	                                        </a> 
	                                        </div>
	                                    </li>
	                                    </th:block>
	                                    <th:block th:case="3">
	                                    <li class="swiper-slide">
	                                        <div class="item_box"> 
	                                        <a th:id="'firstnewlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info1"
	                                                onclick="javascript:GA_main('newImg',$(this));setEcommerceData(0, 'NEW', 'WE');">
	                                        <span class="item_img"> 
	                                        	<img th:id="'newimg'+${status.index}" th:src="${product.pcimg1}" alt="" name="밴딩 와이드 팬츠" class="respon_image"> 
	                                        </span> 
	                                        </a> 
	                                        <a th:id="'secondnewlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info2"
	                                                onclick="javascript:GA_main('new',$(this));setEcommerceData(0, 'NEW', 'WE');">
	                                        	<span th:id="'newbname'+${status.index}" class="brand" th:text="${product.bname}"></span> 
	                                        	<span th:id="'newprice' + ${status.index}" class="price" th:text="'₩'+${#numbers.formatInteger(product.pcprice,3,'COMMA')}"></span> 
	                                        </a> 
	                                        </div>
	                                    </li>
	                                    </th:block>
                                    
                                    </th:block>
                                    </th:block>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="nbe_cnt best">
                        <div class="product_left_menu">
                            <h4 class="tit">베스트</h4>
                            <ul>
                                <li class="on"> <a href="javascript:void(0);" onclick="changeBest('WOMEN')">여성</a></li>
                                <li class="on"> <a href="javascript:void(0);" onclick="changeBest('MEN')">남성</a></li>
                                <li class="on"> <a href="javascript:void(0);" onclick="changeBest('LIFESTYLE')">라이프스타일</a></li>
                            </ul>
                        </div>
                        <div class="nbe_cnt_inner_wrap">
                            <div class="nbe_cnt_inner swiper-container swiper-container-horizontal swiper-container-wp8-horizontal"
                                id="bestListSlider">
                                <ul class="items_list swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                                <th:block th:each="product, status : ${bestproductList}">
                                    <th:block th:switch="${status.index}">
                                    <th:block th:case="0">
                                    <li class="swiper-slide swiper-slide-active">
                                        <div class="item_box"> <a th:id="'firstbestlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info1"
                                                onclick="javascript:setEcommerceData(0, 'BEST', 'WE');"> <span
                                                    class="item_img"> <img th:id="'bestimg'+${status.index}"
	                                                        th:src="${product.pcimg1}"
                                                        alt="" name="백 밴딩 원턱 팬츠" class="respon_image"
                                                        onclick="GA_main('bestImg',$(this))"> </span> </a> 
                                                        <a th:id="'secondbestlink'+${status.index}"
                                                class="item_info2"
                                                onclick="javascript:GA_main('best',$(this));setEcommerceData(0, 'BEST', 'WE');">
                                                <span th:id="'bestbname'+${status.index}" class="brand" th:text="${product.bname}"></span> <span
												th:id="'bestprice' + ${status.index}" class="price" th:text="'₩'+${#numbers.formatInteger(product.pcprice,3,'COMMA')}"></span> </a> </div>
                                    </li>
                                    </th:block>
                                   <th:block th:case="1">
                                    <li class="swiper-slide swiper-slide-next">
                                        <div class="item_box"> <a th:id="'firstbestlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info1"
                                                onclick="javascript:setEcommerceData(1, 'BEST', 'WE');"> <span
                                                    class="item_img"> <img th:id="'bestimg'+${status.index}" th:src="${product.pcimg1}"
                                                        alt="" name="[palette] 백 밴딩 셔링 스커트" class="respon_image"
                                                        onclick="GA_main('bestImg',$(this))"> </span> </a> <a th:id="'secondbestlink'+${status.index}"
                                                 class="item_info2"
                                                onclick="javascript:GA_main('best',$(this));setEcommerceData(1, 'BEST', 'WE');">
                                                <span th:id="'bestbname'+${status.index}" class="brand" th:text="${product.bname}"></span> <span
                                                  th:id="'bestprice' + ${status.index}" class="price" th:text="'₩'+${#numbers.formatInteger(product.pcprice,3,'COMMA')}"></span> </a> </div>
                                    </li>
                                    </th:block>
                                    <th:block th:case="2">
                                    <li class="swiper-slide">
                                        <div class="item_box"> <a th:id="'firstbestlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info1"
                                                onclick="javascript:setEcommerceData(2, 'BEST', 'WE');"> <span
                                                    class="item_img"> <img th:id="'bestimg'+${status.index}" th:src="${product.pcimg1}"
                                                        alt="" name="컬러 라인 크로셰 니트 가디건" class="respon_image"
                                                        onclick="GA_main('bestImg',$(this))"> </span> </a> <a th:id="'secondbestlink'+${status.index}"
                                                class="item_info2"
                                                onclick="javascript:GA_main('best',$(this));setEcommerceData(2, 'BEST', 'WE');">
                                                <span th:id="'bestbname'+${status.index}" class="brand" th:text="${product.bname}"></span> <span th:id="'bestprice' + ${status.index}" class="price" th:text="'₩'+${#numbers.formatInteger(product.pcprice,3,'COMMA')}"></span> </a>
                                        </div>
                                    </li>
                                    </th:block>
                                    <th:block th:case="3">
                                    <li class="swiper-slide">
                                        <div class="item_box"> <a th:id="'firstbestlink'+${status.index}" th:href="@{/detail(pcid=${product.pcid})}" class="item_info1"
                                                onclick="javascript:setEcommerceData(3, 'BEST', 'WE');"> <span
                                                    class="item_img"> <img th:id="'bestimg'+${status.index}" th:src="${product.pcimg1}"
                                                        alt="" name="[palette] 스퀘어넥 슬리브리스 탑" class="respon_image"
                                                        onclick="GA_main('bestImg',$(this))"> </span> </a> <a th:id="'secondbestlink'+${status.index}"
                                                class="item_info2"
                                                onclick="javascript:GA_main('best',$(this));setEcommerceData(3, 'BEST', 'WE');">
                                                <span th:id="'bestbname'+${status.index}" class="brand" th:text="${product.bname}"></span> <span
                                                   th:id="'bestprice' + ${status.index}" class="price" th:text="'₩'+${#numbers.formatInteger(product.pcprice,3,'COMMA')}"></span> </a> </div>
                                    </li>
                                    </th:block>
                                    </th:block>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- new & best -->
		</div>
		<!-- chatt modal start -->
        <div class="popwrap" id="chatModal">
        	<h3 id="review_title">문의하기</h3>
        	<div id="wsid" th:text="${session.sessionId}" style="display:none;"></div>
        	<div class="chatBox" >
			    <ul class="messageBox">
			    	
			    
			    </ul>
			    <div class="">
			        <div class="">
			            <input id="chatInput" class="" placeholder="Type your message here..." onclick="send()"/>
			        </div>
			        
			    </div>
			</div>
	        <a href="javascript:void(0);" onclick="closeChatModal();"
            style="position: absolute; top: 20px; right: 20px; width: 20px; height: 20px;"><img
                src="http://cdn.thehandsome.com/_ui/desktop/common/images/popup/ico_close.png" alt="닫기"></a>
                
        </div>
        <!-- chatt modal end -->
		<div id="chatBtn" style="display: block;">
			<a href="javascript:void(0);" onclick="clickChat()">
				<img src="/_ui/desktop/common/images/chat_icon.png" style="width: 3rem; height: 3rem;" alt="맨 위로 ">
			</a>
		</div>
		<!-- //main_container-->
	</div>
</body>

</html>