<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/headerstatic :: headerstatic"></head>

<header th:replace="fragments/header :: header"></header>
<script>
	var arkQuery = $.noConflict(true);
	
	function changeColorImg(e, idx){
		console.log($(e).attr('pcid'));
		console.log('start clcik ' );
		const header = $("meta[name='_csrf_header']").attr('content');
     	const token = $("meta[name='_csrf']").attr('content'); 
		var pcid = {
				"pcid" : $(e).attr('pcid')
		}
		console.log(pcid);
		
		$.ajax({
			type : 'POST',
			url : "/productImg/"+$(e).attr('pcid'),
			data : {
				"pcid" : $(e).attr('pcid')
			},
			beforeSend: function(xhr){
                   xhr.setRequestHeader(header, token);
            },
			success : function(result) {
				console.log(result.pcimg1);
				console.log(result.pcimg2);
				$('.img'+idx).attr('src', result.pcimg1);
				$('.img'+idx+'.on').attr('src', result.pcimg2);
				console.log('success');
			},
			error : function(e) {
				console.log('failed');
			}
		});
	}
</script>

<div id="bodyWrap" class="products">
	<h3 class="cnts_title ou1804">
        <!-- 선택한 카테고리 목록 -->
        <span>
	        <a href="#" onclick="">남성</a>
	            <img src="http://cdn.thehandsome.com/_ui/desktop/common/images/products/ou_location_arr.png" alt="location arr">
	            <a href="#" onclick="">아우터</a>
	            <img src="http://cdn.thehandsome.com/_ui/desktop/common/images/products/ou_location_arr.png" alt="location arr">
	            <a href="#" onclick="">${productList[0].categoryVO.cateName}</a>
        </span>
        <!-- // 선택한 카테고리 목록 -->
    </h3>
	<div class="adaptive_wrap">
		<!-- sort wrap -->
		<div class="filterWrap hsDelivery1902">
			<div class="items_count float_right">
				<span class="num"></span><span>전체</span>
			</div>
		</div>
		<div class="items_list" id="listContent" >
			<ul class="clearfix" id="listBody">
				<th:block th:each="product, status : ${productList}">
					<th:block th:switch="${status.index % 4}">
						<li th:case="3"  class="mr1m">
							<div class="item_box">
								<a th:href="@{/product/productDetail(pid=${product.pid})}" class="item_info1" onclick="">
									<span class="item_img">
										<th:block th:each="productimg ,status2 : ${product.productImgList}">
											<th:block th:if="${status2.index == 0}">
												<img th:src="${productimg.pcimg1}" th:class="'respon_image img'+${status.index}"/>
												<img th:src="${productimg.pcimg2}" th:class="'respon_image on img'+${status.index}"/>
												
											</th:block>
											<!-- <th:block th:if="${status2.index !=0}">
												<d th:src="${productimg.pcimg1}" th:class="'respon_image '+${productimg.pcid}" style="display: none;"/></d>
												<d th:src="${productimg.pcimg2}" th:class="'respon_image on '+${productimg.pcid}" style="display: none;"/></d>
											</th:block> -->
										</th:block>
									</span>
									<span class="item_size" id="'itemsize_'+${status.index}" > 
						                <div id="">
											<th:block th:each="productSize : ${product.productSizeList}">	
												<span th:text="${productSize.psize}"></span>
											</th:block>
						                </div> 
						            </span> 
									<!-- <span class="itme_size" th:id="'itemsize_'+${status.index}">
										<div th:id="${product.pid}">
											<th:block th:each="productSize : ${product.productSizeList}">	
												<span th:text="${productSize.psize}"></span>
											</th:block>
										</div>
									</span> -->
								</a>
								<a th:href="@{/product/productDetail(pid=${product.pid})}" class="item_info2" id="itmesize1">
									<span class="brand" th:text="${product.bname}"></span>
									<span class="title" th:text="${product.pname}"></span>
									<span class="price" th:text="${product.pcprice}"></span>
								</a>
								<div class="color_more_wrap">
									<th:block th:each="productcolor: ${product.productColorList}">
										<a href="javascript:void(0)" class="cl wt" th:style="'background:url(' + ${productcolor.pcchipimg} + ');'" th:onclick="'changeColorImg(this,'+${status.index}+');'" th:pcid="${productcolor.pcid}"></a>
									</th:block>
								</div>			
							</div>
												
						</li>
						<li th:case="*">
							<div class="item_box">
								<a th:href="@{/product/productDetail(pid=${product.pid})}" class="item_info1" onclick="">
									<span class="item_img">
										<th:block th:each="productimg ,status2 : ${product.productImgList}">
											<th:block th:if="${status2.index == 0}">
												<img th:src="${productimg.pcimg1}" th:class="'respon_image img'+${status.index}"/>
												<img th:src="${productimg.pcimg2}" th:class="'respon_image on img'+${status.index}"/>
												
											</th:block>
											<!-- <th:block th:if="${status2.index !=0}">
												<d th:src="${productimg.pcimg1}" th:class="'respon_image '+${productimg.pcid}" style="display: none;"/></d>
												<d th:src="${productimg.pcimg2}" th:class="'respon_image on '+${productimg.pcid}" style="display: none;"/></d>
											</th:block> -->
											
										</th:block>
									</span>
									<span class="item_size" id="itemsize_3"> 
						                <div id=""> 
						                	<th:block th:each="productSize : ${product.productSizeList}">	
												<span th:text="${productSize.psize}"></span>
											</th:block>
						                </div> 
						            </span> 
									<!-- <span class="itme_size" th:id="'itemsize_'+${status.index}">
											<div th:id="${product.pid}">
												<th:block th:each="productSize : ${product.productSizeList}">	
													<span th:text="${productSize.psize}"></span>
												</th:block>
											</div>
									</span> -->
								</a>
								<a th:href="@{/product/productDetail(pid=${product.pid})}" class="item_info2" id="itmesize1">
									<span class="brand" th:text="${product.bname}"></span>
									<span class="title" th:text="${product.pname}"></span>
									<span class="price" th:text="${product.pcprice}"></span>
								</a>
								<div class="color_more_wrap">
									<th:block th:each="productcolor: ${product.productColorList}">
										<a href="javascript:void(0)" class="cl wt" th:style="'background:url(' + ${productcolor.pcchipimg} + '/dims/resize/13x14);'" th:onclick="'changeColorImg(this,'+${status.index}+');'" th:pcid="${productcolor.pcid}"></a>
									</th:block>
								</div>
							</div>		
						</li>
					</th:block>	
				</th:block>
			</ul>
		</div>
		<div class="paging">
		
		</div>
	</div>
</div>