<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/headerstatic :: headerstatic"></head>

<body>
    <div class="popwrap w_type_4" id="customerReviewDiv" style="top: 1378.04px; position: absolute; z-index: 101;">
        <!--마일리지 안내영역 1906 -->
        <div class="mileage_info_wrap1906">
            <p class="wrap_heading">상품평 작성 시 추가 마일리지를 드려요!</p>
            <div class="mileage_info_box">
                <div class="review_w">
                    <p class="review_w_tit">• 온라인 구매 상품평 작성 시</p>
                    <ul>
                        <li>
                            <div class="ico_mileage1906">
                                정상상품
                            </div>
                            <p><strong>정상상품</strong><br>구매금액의 <b>0.5%</b></p>
                        </li>
                        <li>
                            <div class="ico_mileage1906">
                                아울렛상품
                            </div>
                            <p><strong>아울렛상품</strong><br>구매금액의 <b>0.1%</b></p>
                        </li>
                        <li>
                            <div class="ico_mileage1906">
                                포토상품평
                            </div>
                            <p><strong>포토상품평</strong><br>(상품별 최초)<br><b>2,000마일리지</b></p>
                        </li>
                    </ul>
                </div>
                <div class="best_review">
                    <p class="review_w_tit">• 온라인/오프라인 구매</p>
                    <ul>
                        <li>
                            <div class="ico_mileage1906">
                                베스트리뷰
                            </div>
                            <p><strong>베스트리뷰</strong><br>매월 5명 <b>10만원</b> 바우처</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="noti_box" style="display:none;">
                <ul class="bul_sty01_li">
                    <li>마일리지는 배송 완료일로부터 30일 이내, 작성한 상품평에 한하여 제공됩니다.</li>
                    <li>상품평 작성 시, 제공되는 추가 마일리지는 온라인에서 구입한 상품에 한하여 제공됩니다.</li>
                    <li>베스트 리뷰는 온라인/오프라인에서 구매한 상품의 상품평 전체를 대상으로 선정합니다.</li>
                    <li>할인, 쿠폰 적용 후 실결제금액이 5,000원 이상인 상품에 한하여 지급됩니다.</li>
                    <li>판매가 종료된 상품의 경우, 상품 상세페이지가 소멸되어 상품평 작성 및 마일리지 적립이 불가능합니다.</li>
                </ul>
            </div>
            <div class="btn_noti_box"><span>자세히 보기</span></div>
        </div>
        <!--//마일리지 안내영역 1906 -->
        <div class="pop_tltwrap2 pb0 customerreviewdiv1905">

            <h3>
                상품평(<span id="review_cnt" class="review_cnt">2</span>)
            </h3>
            <div class="star_score1807" id="totalStarScoreWrapper" style="display: inline-block;">
                <span class="cmt_star">
                    <!-- 별점에 따라 class명 변경 (star1, star2 ,star3, star4, star5) -->
                    <span class="cmt_per" id="totalStarScore" style="width: 100%;">별점</span>
                </span>
            </div>
            <a href="#;" class="btn_evaluation1905" id="customerReviewWrite"
                onclick="GA_Event('상품평','상품평 작성하기','클릭');">상품평 작성하기</a>
        </div>
        <!-- pop_cnt-->
        <div class="pop_cnt evaluation_list1807 options">
            <div class="tab_a m3 mt20">
                <input type="hidden" id="review_tab_active" value="ALL">
                <ul id="review_tab">
                    <li id="ALL"><a href="#;" class="active" onclick="GA_Event('상품평','탭','전체');">전체 (2)</a></li>
                    <li id="PHOTO"><a href="#;" class="" onclick="GA_Event('상품평','탭','포토상품평');">포토 상품평 (1)</a></li>
                    <li id="TEXT"><a href="#;" onclick="GA_Event('상품평','탭','일반상품평');">일반 상품평 (1)</a></li>
                </ul>
            </div>
            <div class="clearfix review_tab1_1807">
                <ul>
                    <li class="evaluation_view" id="evaluation_view0">
                        <div class="member_info_top">
                            <ul>
                                <li class="name">dar*****</li>
                                <li class="grade">FRIEND</li>
                                <li class="date">2022-06-22</li>
                                <li class="stars">
                                    <div class="star_score1807"> <span class="cmt_star"> <span
                                                class="cmt_per star5">별점</span> </span> </div>
                                </li>
                            </ul>
                        </div>
                        <div class="member_info_bottom">
                            <ul>
                                <li class="choice"> • <span>186CM</span> / <span>통통한 체형</span> / 평소 사이즈 :
                                    <span>110</span> </li>
                                <li class="must"> • 구매 정보 : <span>BLACK</span> / <span>110</span> / <span>더한섬닷컴</span>
                                </li>
                            </ul>
                        </div>
                        <div class="review_txt_wrap">
                            <p class="review_txt">평소 110입는데 예쁘네요 잘입을개요</p>
                        </div>
                        <div class="sizecolor clearfix">
                            <div class="real_fit_size1905"> <strong>• 실 착용 사이즈</strong>
                                <div class="evaluation_wrap1905">
                                    <p>어깨너비 : </p>
                                    <div class="clearfix"> <span class=" on">타이트함</span> <span class="">적당함</span> <span
                                            class="">여유있음</span> </div>
                                </div>
                                <div class="evaluation_wrap1905">
                                    <p>가슴둘레 : </p>
                                    <div class="clearfix"> <span class="">타이트함</span> <span class=" on">적당함</span> <span
                                            class="">여유있음</span> </div>
                                </div>
                                <div class="evaluation_wrap1905">
                                    <p>총길이 : </p>
                                    <div class="clearfix"> <span class="">짧은 편</span> <span class=" on">적당함</span> <span
                                            class="">긴 편</span> </div>
                                </div>
                            </div>
                            <div class="real_color1905"> <strong>• 실 제품 색상</strong>
                                <div class="clearfix"> <span class="">어두워요</span> <span class=" on">화면과 같아요</span> <span
                                        class="">밝아요</span> </div>
                            </div>
                        </div>
                        <div class="review_more_1807"> <a href="#;" >리뷰 더보기</a></div>
                    </li>
                    <li class="evaluation_view" id="evaluation_view1">
                        <div class="member_info_top">
                            <ul>
                                <li class="name">ive*******</li>
                                <li class="grade">CREW</li>
                                <li class="date">2022-06-21</li>
                                <li class="stars">
                                    <div class="star_score1807"> <span class="cmt_star"> <span
                                                class="cmt_per star5">별점</span> </span> </div>
                                </li>
                            </ul>
                        </div>
                        <div class="member_info_bottom">
                            <ul>
                                <li class="choice"> • <span>30대</span> / <span>187CM</span> / <span>보통</span> / 평소 사이즈 :
                                    <span>105~110</span> </li>
                                <li class="must"> • 구매 정보 : <span>BLACK</span> / <span>110</span> / <span>더한섬닷컴</span>
                                </li>
                            </ul>
                        </div>
                        <div class="review_represent_img1912"> <img
                                src="/medias/JPEG-20220621-143725-8481779334923739690.jpg?context=bWFzdGVyfGF0dGFjaG1lbnRzfDYxNDQxNTJ8aW1hZ2UvanBlZ3xhdHRhY2htZW50cy9oOTAvaGIxLzkzMDYxMTkxNDM0NTQuanBnfGI1OGJiOGY3NTc1MzVjZDA4YjJkOTBkMDMzYjNiMmU3NGM2NWY0NzdiYzQ1OTMyZGZmMmQ4ZjZjNDBmMWIxNjM"
                                alt="리뷰 이미지"></div>
                        <div class="review_img_wrap review_img_cont191216 wlength" id="reviewImg_1">
                            <ul class="slides">
                                <li>
                                    <div class="review_img_cont_inner191216">
                                        <div class="img_wrap"> <img
                                                src="/medias/JPEG-20220621-143725-8481779334923739690.jpg?context=bWFzdGVyfGF0dGFjaG1lbnRzfDYxNDQxNTJ8aW1hZ2UvanBlZ3xhdHRhY2htZW50cy9oOTAvaGIxLzkzMDYxMTkxNDM0NTQuanBnfGI1OGJiOGY3NTc1MzVjZDA4YjJkOTBkMDMzYjNiMmU3NGM2NWY0NzdiYzQ1OTMyZGZmMmQ4ZjZjNDBmMWIxNjM"
                                                alt="리뷰 이미지"> </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="review_txt_wrap">
                            <p class="review_txt">완전 잘산거 같아요. 가볍고 편하고 이쁘기까지!!
                                네이비, 베이지 샀는데...만족도가 높아서 블랙이 없다가 새로 나왔길래 구매했어요.
                                사길 잘한거 같아요~^^
                                자주 입을 것 같습니다~</p>
                        </div>
                        <div class="sizecolor clearfix">
                            <div class="real_fit_size1905"> <strong>• 실 착용 사이즈</strong>
                                <div class="evaluation_wrap1905">
                                    <p>어깨너비 : </p>
                                    <div class="clearfix"> <span class="">타이트함</span> <span class="">적당함</span> <span
                                            class=" on">여유있음</span> </div>
                                </div>
                                <div class="evaluation_wrap1905">
                                    <p>가슴둘레 : </p>
                                    <div class="clearfix"> <span class="">타이트함</span> <span class="">적당함</span> <span
                                            class=" on">여유있음</span> </div>
                                </div>
                                <div class="evaluation_wrap1905">
                                    <p>총길이 : </p>
                                    <div class="clearfix"> <span class="">짧은 편</span> <span class=" on">적당함</span> <span
                                            class="">긴 편</span> </div>
                                </div>
                            </div>
                            <div class="real_color1905"> <strong>• 실 제품 색상</strong>
                                <div class="clearfix"> <span class="">어두워요</span> <span class=" on">화면과 같아요</span> <span
                                        class="">밝아요</span> </div>
                            </div>
                        </div>
                        <div class="review_more_1807"> <a href="#;" >리뷰 더보기</a></div>
                    </li>
                </ul>
            </div>
            <!-- paging -->
            <div class="paging mt30" id="reviewPagingDiv"><a class="prev2" href="javascript:void(0);">처음 페이지로 이동</a><a
                    href="javascript:void(0);" class="prev">이전 페이지로 이동</a><span class="num"><a
                        href="javascript:void(0);" class="pageBtn  on  " pagenum="1">1</a></span><a
                    href="javascript:void(0);" class="next">다음 페이지로 이동</a><a href="javascript:void(0);"
                    class="next2">마지막 페이지로 이동</a></div>
            <!-- //paging -->
        </div>
        <!--// pop_cnt-->
        <a href="javascript:void(0);" class="btn_close"><img
                src="http://cdn.thehandsome.com/_ui/desktop/common/images/popup/ico_close.png" alt="닫기"></a>
    </div>
</body>

</html>